<section>
	<div class="container">
		<div class="row">

			<div class="col-md-6 col-md-offset-3">
				<div class="box-static box-border-top padding-30">
					<div class="box-title margin-bottom-30">
						<h2 class="size-20">Password Recovery</h2>
						<p>Silahkan ketik alamat email anda. Kami akan kirimkan email berupa link untuk mengganti password anda</p>
					</div>
					{if $req==1}
					<div class="box-title margin-bottom-30">
						<p style="color:red">Email anda tidak terdaftar</p>
					</div>
					{else if $req==2}
					<div class="box-title margin-bottom-30">
						<p style="color:blue">Password anda sudah dikirim ke email anda</p>
					</div>
					{/if}

					{if !$req==2}
					<form class="nomargin" method="post" action="{$basedomain}home/forgot_password" autocomplete="off">
						<div class="clearfix">
							
							<!-- Email -->
							<div class="form-group">
								<input type="text" name="email" class="form-control" placeholder="Email" required="">
							</div>
							
								
						</div>
						
						<div class="row">
							
							
							<div class="col-md-6 col-sm-6 col-xs-6 text-right col-md-offset-6">
								<input type="hidden" value="1" name="token">
								<button class="btn btn-primary" type="submit" value="1">Ok, Kirim</button>

							</div>
							
						</div>
						
					</form>
					{/if}
				</div>
				<div class="margin-top-30 text-center">
					<a href="{$basedomain}home/register"><strong>Buat Akun Baru</strong></a>

				</div>

			</div>

		</div>
	</div>
</section>