<!-- SLIDER -->
<section id="slider" class="fullheight" style="background:url('{$basedomain}assets/images/demo/particles_bg.jpg')">
    <span class="overlay dark-2"><!-- dark overlay [0 to 9 opacity] --></span>

    <canvas id="canvas-particle" data-rgb="156,217,249"><!-- CANVAS PARTICLES --></canvas>

    <div class="display-table">
        <div class="display-table-cell vertical-align-middle">
            
            <div class="container text-center">
                
                <h1 class="nomargin wow fadeInUp" data-wow-delay="0.4s"> 
                    NEGARA YANG 
                    <!--
                        TEXT ROTATOR
                        data-animation="fade|flip|flipCube|flipUp|spin"
                    -->
                    <span class="rotate " data-animation="fade" data-speed="1500">
                        BERSIH, BEBAS KOLUSI, BEBAS KORUPSI
                    </span>
                    
                </h1>

                <p class="lead font-lato size-30 wow fadeInUp" data-wow-delay="0.7s">
                    Meningkatkan Pelayanan
                    <span class="theme-color weight-400 font-style-italic">BSN</span> 
                    Sesuai Harapan Masyarakat
                </p>
                
                <a class="btn btn-default btn-lg" href="#"><i class="fa fa-download"></i> SOP Pengaduan</a>

            </div>

        </div>
    </div>

</section>
<!-- /SLIDER -->

<!-- -->
<section>
    <div class="container">

        <div class="row">

            <div class="col-md-12 col-sm-12 text-center">

                <header class="margin-bottom-60">
                    <h2>Selamat Datang di SIPMAS</h2>
                    <p class="lead font-lato">Sistem Pelayanan Masyarakat Online BSN</p>
                </header>

                <p>Terima kasih telah menggunakan dan / atau mengunjungi Sistem Informasi Pengaduan Masyarakat (SIPMAS) Online BSN. Sistem ini merupakan layanan yang diberikan Badan Standardisasi Nasional (BSN) dalam membangun komunikasi dengan masyarakat, khususnya terkait dengan keluhan, pengaduan, kritik dan/atau saran kepada BSN demi mewujudkan pelayanan BSN yang lebih baik.</p>
                <p>Dengan SIPMAS Online BSN, diharapkan dapat memberikan manfaat sebagai berikut :</p>
            
            <div class="row">

                <div class="col-sm-6 col-md-4 col-lg-4">

                    <div class="box-icon box-icon-left">
                        <a class="box-icon-title" href="#">
                            <i class="fa fa-child"></i>
                            <h2>BERPERAN AKTIF</h2>
                        </a>
                        <p class="text-muted">Masyarakat dapat berperan aktif untuk ikut serta mewujudkan penyelenggaraan negara yang bersih dan bebas dari Korupsi, Kolusi dan Nepotisme (KKN) di lingkungan BSN.</p>
                    </div>

                </div>

                <div class="col-sm-6 col-md-4 col-lg-4">

                    <div class="box-icon box-icon-left">
                        <a class="box-icon-title" href="#">
                            <i class="fa fa-thumbs-up"></i>
                            <h2>PELAYANAN</h2>
                        </a>
                        <p class="text-muted">BSN dapat meningkatkan pelanan nya sesuai dengan harapan masyarakat dan dapat melakukan tindakan nyata dalam rangka menindaklanjuti pengawasan masyarakat.</p>
                    </div>

                </div>

                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="box-icon box-icon-left">
                        <a class="box-icon-title" href="#">
                            <i class="et-download"></i>
                            <h2>DOWNLOAD SOP</h2>
                        </a>
                        <a class="btn btn-default btn-lg size-15 margin-top-30 lightbox" href="#" ><i class="fa fa-download"></i> SOP Pengaduan Masyarakat.pdf</a>
                    </div>

                </div>
            </div>

                

            </div>

        </div>

    </div>
</section>
<!-- / -->



<!-- -->
<section class="alternate">
    <div class="container">

        <div class="row">

            <!-- registrasi-->
            <div class="col-md-4 col-sm-4">
                <h4>Registrasi</h4>
            </div>
            <!-- /registrasi -->

            <!-- login -->
            <div class="col-md-4 col-sm-4">
                <h4>Login</h4>

            </div>
            <!-- /login -->

            <!-- maps -->
            <div class="col-md-4 col-sm-4">
                <h4>Maps</h4>

            </div>
            <!-- /maps -->

        </div>

    </div>
</section>
<!-- / -->
