<!DOCTYPE html>
<html>

<head>
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <title>SIPMAS - E-Pengadaan</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Font CSS (Via CDN) -->
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>

   <!-- Datatables CSS -->
  <link rel="stylesheet" type="text/css" href="{$basedomain}vendor/plugins/datatables/media/css/dataTables.bootstrap.css">

  <!-- Datatables Editor Addon CSS -->
  <link rel="stylesheet" type="text/css" href="{$basedomain}vendor/plugins/datatables/extensions/Editor/css/dataTables.editor.css">

  <!-- Datatables ColReorder Addon CSS -->
  <link rel="stylesheet" type="text/css" href="{$basedomain}vendor/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css">

   <!-- Glyphicons Pro CSS(font) -->
  <link rel="stylesheet" type="text/css" href="{$basedomain}assets/fonts/glyphicons-pro/glyphicons-pro.css">

  <!-- Icomoon CSS(font) -->
  <link rel="stylesheet" type="text/css" href="{$basedomain}assets/fonts/icomoon/icomoon.css">

  <!-- Iconsweets CSS(font) -->
  <link rel="stylesheet" type="text/css" href="{$basedomain}assets/fonts/iconsweets/iconsweets.css">

  <!-- Octicons CSS(font) -->
  <link rel="stylesheet" type="text/css" href="{$basedomain}assets/fonts/octicons/octicons.css">

  <!-- Stateface CSS(font) -->
  <link rel="stylesheet" type="text/css" href="{$basedomain}assets/fonts/stateface/stateface.css">



  <!-- Required Plugin CSS -->
  <link rel="stylesheet" type="text/css" href="{$basedomain}vendor/plugins/tagmanager/tagmanager.css">
  <link rel="stylesheet" type="text/css" href="{$basedomain}vendor/plugins/daterange/daterangepicker.css">
  <link rel="stylesheet" type="text/css" href="{$basedomain}vendor/plugins/datepicker/css/bootstrap-datetimepicker.css">
  <link rel="stylesheet" type="text/css" href="{$basedomain}vendor/plugins/colorpicker/css/bootstrap-colorpicker.min.css">
  <link rel="stylesheet" type="text/css" href="{$basedomain}vendor/plugins/select2/css/core.css">

  <!-- Theme CSS -->
  <link rel="stylesheet" type="text/css" href="{$basedomain}assets/skin/default_skin/css/theme.css">

  <!-- Admin Forms CSS -->
  <link rel="stylesheet" type="text/css" href="{$basedomain}assets/admin-tools/admin-forms/css/admin-forms.css">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{$basedomain}assets/img/favicon.ico">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->


<!-- jQuery -->
  <script src="{$basedomain}vendor/jquery/jquery-1.11.1.min.js"></script>
  <script src="{$basedomain}vendor/jquery/jquery_ui/jquery-ui.min.js"></script>


</head>