<!-- Start: Topbar-Dropdown -->
  <div id="topbar-dropmenu" class="alt">
    <div class="topbar-menu row">
      
      <div class="row center-block mt10" style="">
        <div class="admin-form">
          <div class="panel heading-border">
            <div class="panel-body bg-light">
              <div class="section-divider mb40" id="spy1">
                <span>Search</span>
              </div>
            <form class="form-horizontal" role="form">
              <div class="row">
                <div class="col-md-8">
                  <div class="section">
                    <label class="field">
                      <input type="text" name="from" id="from" class="gui-input" placeholder="Masukkan kata kunci">
                    </label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="section">
                    <label class="field select">
                    <select id="country" name="country">
                      <option value="">Kategori Pencarian</option>
                      <option value="AL">Judul laporan</option>
                      <option value="DZ">Ruang lingkup laporan</option>
                      <option value="AL">Satuan unit kerja terkait</option>
                      <option value="DZ">Pejabat terkait</option>
                      <option value="AL">Status laporan</option>
                      <option value="DZ">Data user</option>
                    </select>
                    <i class="arrow"></i>
                    </label>
                  </div>
                </div>
              
                <div class = "col-md-8">
                  <div class="form-group">
                    <div class="col-md-8">
                      <div class="input-group date">
                      <span class="input-group-addon cursor">
                        <i class="fa fa-calendar"></i>
                      </span>
                      <input type="text" class="form-control pull-right daterangepicker1" name="daterange">
                      </div>
                    </div>
                  </div>
                </div>
                <div class = "col-md-12">
                  <div class="col-xs-2  pull-right">
                    <button type="button" class="btn btn-primary btn-gradient dark btn-block">Search</button>  
                  </div>
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <!-- End: Topbar-Dropdown -->