<div id="page-content">
	<div class="row">
		<div class="col-lg-12">
			<div id="page-title">
				<h1 class="page-header text-overflow">Detail User SIPMAS</h1>
			</div>

			<!--Breadcrumb-->
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<ol class="breadcrumb">
				<li><a href="{$basedomain}">Home</a></li>
				<li><a href="{$basedomain}daftar_usersipmas">User SIPMAS</a></li>
				<li class="active">Detail User SIPMAS</li>
			</ol>
			<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
			<!--End breadcrumb-->

			<!--Default Tabs (Left Aligned)-->
			<!--===================================================-->
			<div class="tab-base">
			<!--Page content-->
				<!--===================================================-->
				<div id="page-content">
						
											
						<!-- Tabs Content -->
						<div class="tab-content">
	
	
							<!-- DEFAULT SEARCH LAYOUT -->
							<!--===================================================-->
							<div class="tab-pane fade active in" id="demo-search-tab-1">
								<div class="panel-heading">
									<h3><strong>{$user.0.name}</strong></h3>
								</div>
									<p> Waktu Registrasi: {$user.register_date} </p>
									<p>	Nama Panggilan : {$user.name} </p>
									<p>	Email Pelapor : {$user.email} </p>
									<p>	No. HP : {$user.hp} </p>
									<p>	Alamat : {$user.alamat} </p>
									{*}<p>	Jenis Kelamin : {$user.0.name} </p>
									<p>	Pendidikan : {$user.0.name} </p>{/*}
									<p>	Pekerjaan : {$user.pekerjaan} </p>
									<p>	Jumlah Pengaduan : {$user.jumlah_pengaduan} Laporan </p>
									{*}<p>	Current Password : <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <br>
									<p>	Reset Password : <button class="btn btn-xs btn-primary btn-labeled fa fa-lock">Reset Password</button> <br>{/*}
									</p>
								<hr class="hr-wide">
	
								
							</div>
							<!--===================================================-->
							
							<div class="panel">
								<!--Heading-->
								<div class="panel-heading">
									<h3 class="panel-title"><strong>Daftar Laporan Pelapor</strong></h3>
								</div>
					
								<!--Widget body-->
								<div id="demo-chat-body" class="collapse in">
									<div class="nano" style="height:380px">
										<div class="nano-content pad-all">
											<ul class="list-unstyled media-block">
												{if $user.pengaduan}
												{foreach $user.pengaduan as $val}
												<li class="mar-btm">
													<div class="row">
														<div class="col-md-7">
														<p><strong>{$val.judul}</strong><br>
														{$val.tanggal}
														</p>
														</div>
														<div class="col-md-2 col-md-offset-3">
														<p>Status Laporan :  Aktif </p>
														</div>
													</div>
												</li>
												{/foreach}
												{/if}
												{*}
												<li class="mar-btm">
														<div class="row">
															<div class="col-md-7">
															<p><strong>2. Pengiriman Dokumen SNI terlalu lama</strong><br>
															Rabu, 08 Juli 2015 15:00 WIB
															</p>
															</div>
															<div class="col-md-2 col-md-offset-3">
															<p>Status Laporan :  Aktif </p>
															</div>
														</div>
												</li>
												<li class="mar-btm">
														<div class="row">
															<div class="col-md-7">
															<p><strong>3. Pengiriman Dokumen SNI terlalu lama</strong><br>
															Rabu, 08 Juli 2015 15:00 WIB
															</p>
															</div>
															<div class="col-md-2 col-md-offset-3">
															<p>Status Laporan :  Aktif </p>
															</div>
														</div>
												</li>
												<li class="mar-btm">
														<div class="row">
															<div class="col-md-7">
															<p><strong>4. Pengiriman Dokumen SNI terlalu lama</strong><br>
															Rabu, 08 Juli 2015 15:00 WIB
															</p>
															</div>
															<div class="col-md-2 col-md-offset-3">
															<p>Status Laporan :  Aktif </p>
															</div>
														</div>
												</li>
												<li class="mar-btm">
														<div class="row">
															<div class="col-md-7">
															<p><strong>5. Pengiriman Dokumen SNI terlalu lama</strong><br>
															Rabu, 08 Juli 2015 15:00 WIB
															</p>
															</div>
															<div class="col-md-2 col-md-offset-3">
															<p>Status Laporan :  Aktif </p>
															</div>
														</div>
												</li>
												<li class="mar-btm">
														<div class="row">
															<div class="col-md-7">
															<p><strong>6. Pengiriman Dokumen SNI terlalu lama</strong><br>
															Rabu, 08 Juli 2015 15:00 WIB
															</p>
															</div>
															<div class="col-md-2 col-md-offset-3">
															<p>Status Laporan :  Aktif </p>
															</div>
														</div>
												</li>
												<li class="mar-btm">
														<div class="row">
															<div class="col-md-7">
															<p><strong>7. Pengiriman Dokumen SNI terlalu lama</strong><br>
															Rabu, 08 Juli 2015 15:00 WIB
															</p>
															</div>
															<div class="col-md-2 col-md-offset-3">
															<p>Status Laporan :  Aktif </p>
															</div>
														</div>
												</li>
												<li class="mar-btm">
														<div class="row">
															<div class="col-md-7">
															<p><strong>8. Pengiriman Dokumen SNI terlalu lama</strong><br>
															Rabu, 08 Juli 2015 15:00 WIB
															</p>
															</div>
															<div class="col-md-2 col-md-offset-3">
															<p>Status Laporan :  Aktif </p>
															</div>
														</div>
												</li>
												{/*}
											</ul>
										</div>
									</div>
					
									
								</div>
							</div>
							<!--===================================================-->
	
						</div>									
				</div>
				<!--===================================================-->
				<!--End page content-->
			</div>
			<!--===================================================-->
			<!--End Default Tabs (Left Aligned)-->
		</div>
	</div>
</div>