
<table border="1">
	<thead>
		<tr>
			<th rowspan="2">No</th>
			<th rowspan="2">Unit Kerja</th>
			<th rowspan="2">Jumlah Pengaduan</th>
			<th colspan="4">Kelompok Aduan</th>
			<th colspan="2">Status</th>
			<th colspan="2">Presentase Pengaduan Jatuh Tempo</th>
			<th rowspan="2">Tingkat Kepuasan Masyarakat</th>
		</tr>
		<tr>
			<td>a</td>
			<td>b</td>
			<td>c</td>
			<td>d</td>
			<td>Selesai</td>
			<td>Dalam Proses</td>
			<th>Penelaahan</th>
			<th>Tindak Lanjut</th>
		</tr>
		
	</thead>
	<tbody>
		{if $data}
		{$i =1}
		{foreach $data as $key => $val}
		<tr>
			<td>{$i++}</td>
			<td>{$val.nama_satker}</td>
			<td>{$val.jumlan_pengaduan}</td>
			<td>{$val.kelompok.1|count}</td>
			<td>{$val.kelompok.2|count}</td>
			<td>{$val.kelompok.3|count}</td>
			<td>{$val.kelompok.4|count}</td>
			<td>{$val.pengaduan_selesai|count}</td>
			<td>{$val.jumlan_pengaduan - $val.pengaduan_selesai|count}</td>
			<td>{$val.telaah|count}</td>
			<td>{$val.tindak|count}</td>
			<td>{if $val.total_survey}{$val.survey|intval / $val.total_survey|intval}{else}0{/if}</td>
		{/foreach}
		{/if}
		</tr>
	</tbody>
	
</table>

{*}
<table border="1">
	<thead>
		<tr>
			<th>No.</th>
			<th>Unit Kerja</th>
			<th>Tanggal Masuk</th>
			<th>Tanggal Penelaahan</th>
			<th>Tanggal Tindak Lanjut</th>
			<th>Tanggal Jatuh Tempo</th>
			<th>Status</th>
			<th>Tingkat Kepuasan Masyarakat</th>
		</tr>
		<tr>
			<td>(1)</td>
			<td>(2)</td>
			<td>(3)</td>
			<td>(4)</td>
			<td>(5)</td>
			<td>(6)</td>
			<td>(7)</td>
			<td>(8)</td>
		</tr>
	</thead>
	<tbody>
		
		<tr>
			<td>(1)</td>
			<td>(2)</td>
			<td>(3)</td>
			<td>(4)</td>
			<td>(5)</td>
			<td>(6)</td>
			<td>(7)</td>
			<td>(8)</td>
		</tr>
	</tbody>
</table>

<table border="1">
	<thead>
		<tr>
			<th rowspan="2">No.</th>
			<th rowspan="2">Kelompok Pengaduan</th>
			<th colspan="2">Presentase Jatuh Tempo</th>
			<th rowspan="2">Tingkat Kepuasan Masyarakat</th>
		</tr>
		<tr>
			<th>Penelaahan</th>
			<th>Tindak Lanjut</th>
		</tr>
		<tr>
			<td>(1)</td>
			<td>(2)</td>
			<td>(3)</td>
			<td>(4)</td>
			<td>(5)</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>(1)</td>
			<td>(2)</td>
			<td>(3)</td>
			<td>(4)</td>
			<td>(5)</td>
		</tr>
	</tbody>
</table>
{/*}