<!-- FOOTER -->
<footer id="footer">
    <div class="container">

        <div class="row">
            
            <div class="col-md-5">
                <!-- Footer Logo -->
                <img class="footer-logo" src="{$basedomain}assets/images/bsni.png" width="30%" alt="" />
                {*}<h4 class="letter-spacing-1">BSNI</h4>{/*}
                <!-- Small Description -->
                <p>National Standardization Agency of Indonesia.</p>

                <!-- Contact Address -->
                <address>
                    <ul class="list-unstyled">
                        <li class="footer-sprite address">
                            Gedung I BPPT<br>
                            Jl. M.H. Thamrin No. 8<br>
                            Kebon Sirih Jakarta Pusat<br>
                            10340<br>
                        </li>
                        <li class="footer-sprite phone">
                            Phone: 021 3927422 - 021 3927527
                        </li>
                        <li class="footer-sprite email">
                            <a href="mailto:bsn@bsn.go.id">bsn@bsn.go.id</a>
                        </li>
                    </ul>
                </address>
                <!-- /Contact Address -->

            </div>

            <div class="col-md-3">

                <!-- Links -->
                <h4 class="letter-spacing-1">SITE MAP</h4>
                <ul class="footer-links list-unstyled">
                    <li><a href="{$basedomain}">Home</a></li>
                    <li><a href="{$basedomain}pengaduan">Lapor Pengaduan</a></li>
                    <li><a href="{$basedomain}tatacara">Tata Cara Pengaduan</a></li>
                </ul>
                <!-- /Links -->

                <div class="margin-top-20"><h4 class="letter-spacing-1">VISITOR {$visitor}</h4></div>
                <div class="margin-top-20"><h4 class="letter-spacing-1">USER ONLINE {$userOnline}</h4></div>

            </div>

            <div class="col-md-4">

                <!-- Newsletter Form -->
                <h4 class="letter-spacing-1">KEEP IN TOUCH</h4>
               <ul class="list-unstyled">
                    <li><a href="http://www.bsn.go.id"><i class="fa fa-globe"></i> www.bsn.go.id</a></li>
                </ul>

                <!-- Social Icons -->
                <div class="margin-top-20">
                    <a href="http://www.facebook.com/BadanStandardisasiNasional" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">

                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>

                    <a href="http://www.twitter.com/bsn_sni" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>

                    <a href="http://www.youtube.com/user/snibsn?feature=mhum" class="social-icon social-icon-border social-youtube pull-left" data-toggle="tooltip" data-placement="top" title="Youtube">
                        <i class="icon-youtube"></i>
                        <i class="icon-youtube"></i>
                    </a>
        
                </div>

                
                <!-- /Social Icons -->

            </div>
            
        </div>

    </div>

    <div class="copyright">
        <div class="container">
            2015. Badan Standardisasi Nasional
        </div>
    </div>
</footer>
<!-- /FOOTER -->