<div id="header" class="sticky transparent noborder clearfix">

  <!-- TOP NAV -->
  <header id="topNav">
    <div class="full-container">

      <!-- Mobile Menu Button -->
      <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
        <i class="fa fa-bars"></i>
      </button>

      <!-- BUTTONS -->
      <ul class="pull-right nav nav-pills nav-second-main">

        <!-- SEARCH -->
        <!--<li class="search">
          <a href="javascript:;">
            <i class="fa fa-search"></i>
          </a>
          <div class="search-box">
            <form action="page-search-result-1.html" method="get">
              <div class="input-group">
                <input type="text" name="src" placeholder="Search" class="form-control" />
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Search</button>
                </span>
              </div>
            </form>
          </div> 
        </li>-->
        <!-- /SEARCH -->

      </ul>
      <!-- /BUTTONS -->


      <!-- Logo -->
      <a class="logo pull-left" href="{$basedomain}">
        <img src="{$basedomain}assets/images/logo_light.png" alt="" /> <!-- light logo -->
        <img src="{$basedomain}assets/images/logo_dark.png" alt="" /> <!-- dark logo -->
      </a>

      <!-- 
        Top Nav 
        
        AVAILABLE CLASSES:
        submenu-dark = dark sub menu
      -->
      <div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
        <nav class="nav-main">

          <!--
            NOTE
            
            For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
            Direct Link Example: 

            <li>
              <a href="#">HOME</a>
            </li>
          -->
          <ul id="topMain" class="nav nav-pills nav-main">
            <li class="dropdown active"><!-- Open -->
              <a href="{$basedomain}">
                HOME
              </a>
            </li>
            <li class="dropdown"><!-- Log in -->
              <a href="#">
                LAPOR PENGADUAN
              </a>
            </li>
            <li class="dropdown"><!-- Open -->
              <a href="#">
                TATA CARA
              </a>
            </li>
            <li class="dropdown"><!-- Open -->
              <a href="#">
                STATISTIK PENGADUAN
              </a>
            </li>
            <li class="dropdown"><!-- Log in -->
              <a href="#">
                EDIT PROFILE
              </a>
            </li>
            <li class="dropdown"><!-- Log in -->
              <a href="#">
                LOG OUT
              </a>
            </li> 
          </ul>

        </nav>
      </div>

    </div>
  </header>
  <!-- /Top Nav -->

</div>