<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>


<!-- PRELOADER -->
<div id="preloader">
<div class="inner">
    <span class="loader"></span>
</div>
</div><!-- /PRELOADER -->

<!-- JAVASCRIPT FILES -->
<script type="text/javascript">var plugin_path = '{$basedomain}assets/plugins/';</script>

<script type="text/javascript" src="{$basedomain}assets/js/scripts.js"></script>

{if $page.page eq 'home' && $page.function eq 'index'}
<!-- PARTICLE EFFECT -->
<script type="text/javascript" src="{$basedomain}assets/plugins/effects/canvas.particles.js"></script>

<!-- 
	GMAPS.JS 
	http://hpneo.github.io/gmaps/
-->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="{$basedomain}assets/plugins/gmaps.js"></script>
{/if}
