<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>


<!-- PRELOADER -->
<div id="preloader">
<div class="inner">
    <span class="loader"></span>
</div>
</div><!-- /PRELOADER -->

<!-- JAVASCRIPT FILES -->
<script type="text/javascript">var plugin_path = '{$basedomain}assets/plugins/';</script>
<script type="text/javascript" src="{$basedomain}assets/plugins/jquery/jquery-2.1.4.min.js"></script>

<script type="text/javascript" src="{$basedomain}assets/js/scripts.js"></script>

<!-- PARTICLE EFFECT -->
<script type="text/javascript" src="{$basedomain}assets/plugins/effects/canvas.particles.js"></script>