
<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Ubah Konten</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->


<!-- Begin: Content -->
<div id="page-content">

	<div class="row">
		<div class="col-lg-12">
            <!--Default Tabs (Left Aligned)-->
			<!--===================================================-->
			<div class="tab-base">
	
				<ul class="nav nav-tabs">
					<li>
						<a href="{$basedomain}pengaturan_admin">Tambah Administrator</a>
					</li>
					<li>
						<a href="{$basedomain}pengaturan_admin/waktukriteria">Ubah Waktu & Kriteria</a>
					</li>
					<li class="active">
						<a href="{$basedomain}pengaturan_admin/ubahkonten">Ubah Konten</a>
					</li>
					<li>
						<a href="{$basedomain}pengaturan_admin/ruanglingkup">Ubah Kategori Ruang Lingkup</a>
					</li>
				</ul>
	
		
				<!--Tabs Content-->
				<div class="tab-content">
					<div id="demo-lft-tab-1" class="tab-pane fade active in">
						<form class="form-horizontal" method="post" action="{$basedomain}pengaturan_admin/simpanContent" id="dataAjax">

						<input type="hidden" name="id" id="idhidden" value=""/>				
						<input type="hidden" name="query" id="query" value=""/>
						<input type="hidden" name="type" id="idType"/>	
						<input type="hidden" name="category" value="1"/>	
								<div class="form-group" >
									<label class="col-sm-3 control-label col-md-offset-6">Pilih Konten:</label>
									<div class="col-sm-3">
										<select class="selectpicker" >
											<!-- <option>Pilih Halaman Konten</option>-->
											<option value="1">Home</option> 
											<option value="2">Tata Cara Pengaduan</option>
										</select>
									</div>
								</div>
								
					
								<!-- COMPOSE EMAIL -->
								<!--===================================================-->
								<div class="panel panel-default panel-left">
									<div class="panel-body">
									
								
										<!--Wysiwyg editor : Summernote placeholder-->
										<div class="form-group">
											<label class="col-lg-2 control-label">Judul Konten</label>
												<div class="col-lg-7">
													<input type="text" class="form-control" name="title" id="judul" placeholder="Judul Content">
												</div>
										</div>

										<textarea name="description"  id="demo-mail-compose" class="description">
											
										</textarea>
											<!--Attact file button-->
											<!-- <div class="media">
												<div class="media-left">
													<span class="btn btn-default btn-file">
														Tambahkan File <input type="file" name="filename">
													</span>
												</div>
												<div id="demo-attach-file" class="media-body"></div>
											</div> -->
					
					
										<div class="pad-ver">

											<button id="mail-send-btn" type="submit" class="btn btn-primary btn-labeled">
												<span class="btn-label"><i class="fa fa-check"></i></span> Submit
											</button>
											
											<button id="mail-save-btn" type="button" class="btn btn-danger btn-labeled">
												<span class="btn-label"><i class="fa fa-times"></i></span> Cancel
											</button>
											
										</div>
									</div>
								</div>
								<!--===================================================-->
								<!-- END COMPOSE EMAIL -->
				

						</form>		
					</div>
					<!--===================================================-->
					<!--END CONTENT CONTAINER-->
					</div>	
				
			</div>
			<!--===================================================-->
			<!--End Default Tabs (Left Aligned)-->
		</div>
	</div> <!-- end row -->

</div>
<!-- End: Content -->


{literal}
<script>

$('#dataAjax').submit(function(event) {

        $('.ajax-spinner-bars').css("display","block"); 
	    var postData = $(this).serializeArray();
	    var formURL = $(this).attr("action");
	    
        $.ajax({
            type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
            url         : formURL, // the url where we want to POST
            data        : postData, // our data object
            dataType    : 'json', // what type of data do we expect back from the server
            encode          : true
        })
            // using the done promise callback
            .done(function(data) {
            	if (data.status==true) {
            		$.niftyNoty({
						type: 'success',
						icon : 'fa fa-check',
						message : 'Konten Berhasil Disimpan',
						container : 'floating',
						timer : 3000
					});
            	}else{
            		$.niftyNoty({
						type: 'danger',
						icon : 'fa fa-times',
						message : 'Konten Gagal Disimpan',
						container : 'floating',
						timer : 3000
					});
            	}
                // log data to the console so we can see
                // $('#dataAjax').html(data.data); 
        		$('.ajax-spinner-bars').css("display","none"); 

                // here we will handle errors and validation messages
            });

        // stop the form from submitting the normal way and refreshing the page
        event.preventDefault();
    });

	$(document).on('ready', function() {
		$('.ajax-spinner-bars').css("display","block"); 
		$('#idType').val(1); 
		$('#idhidden').val(1); 
        $('#query').val("insert"); 
                        $.post(basedomain+"pengaturan_admin/selectubahkonten",{actionfunction: 'showData',type:'1'}, function(data){
                            // console.log(data);
                            if (data.status==true) {
                               // console.log(data.data);
                                    $('.note-editable').html(data.data); 
                                    $('#judul').val(data.judul); 
                                    $('#idhidden').val(data.idhidden); 
                                    $('#query').val("update"); 

                                   
                                    $('.ajax-spinner-bars').css("display","none");
                            }else{

                                    $('#query').val("insert"); 
                                    $('#judul').val(""); 
                                    $('.note-editable').html(""); 
                                 $('.ajax-spinner-bars').css("display","none"); 
                            }
                        }, "JSON")
		if ($('#demo-mail-compose').length) {
			// SUMMERNOTE
			// =================================================================
			// Require Summernote
			// http://hackerwins.github.io/summernote/
			// =================================================================
			$('#demo-mail-compose').summernote({
				height:500
			});
		
		
			// Attachment button.
			// =================================================================
			$('.btn-file :file').on('fileselect', function(event, numFiles, label, fileSize) {
				$('#demo-attach-file').html('<strong class="box-block text-capitalize"><i class="fa fa-paperclip fa-fw"></i> '+label+'</strong><small class="text-muted">'+fileSize+'</small>');
			});
			
			return;
		}

	});
	   $('#dataAjax').on('keyup','.note-editable',function(){
	   		var isi =$('.note-editable').html();

            $('.description').val(isi);
	   });
	   $('#dataAjax').on('change','.selectpicker',function(){

                   var parameter =$('.selectpicker').val();
                   // alert(parameter);
                   // var valueparameter =$('#valueparameter').val();

                     
					$('#idType').val(parameter); 
					$('#idhidden').val(parameter); 
					if(parameter==1){
						var message="Load Konten Home Berhasil";
						var type="info";
					}else if(parameter==2){

						var message="Load Konten Tata Cara Berhasil";
						var type="info";
					}else{

						var message="Load Konten Gagal";
						var type="danger";
					}
                     $.post(basedomain+"pengaturan_admin/selectubahkonten", {actionfunction: 'showData',type:parameter}, function(data){
                            // console.log(data);
                            if (data.status==true) {
                               // console.log(data.data);
                               		$.niftyNoty({
										type: type,
										icon : 'fa fa-info',
										message : message,
										container : 'floating',
										timer : 3000
									});
                                    $('.note-editable').html(data.data); 

                                    $('#judul').val(data.judul); 
                                    $('#idhidden').val(data.idhidden); 
                                   	
                                    $('#query').val("update"); 

                                    $('.ajax-spinner-bars').css("display","none");
                            }else{
                            		$.niftyNoty({
										type: type,
										icon : 'fa fa-info',
										message : message,
										container : 'floating',
										timer : 3000
									});
                                    $('#query').val("insert"); 
                                    $('#judul').val(""); 
                                    $('.note-editable').html(""); 
                                 $('.ajax-spinner-bars').css("display","none"); 
                            }
                        }, "JSON")

                return false;
                });

</script>

{/literal}