<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Ubah Waktu dan Kriteria</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->


<!-- Begin: Content -->
<div id="page-content">

	<div class="row">
		<div class="col-lg-12">
            <!--Default Tabs (Left Aligned)-->
			<!--===================================================-->
			<div class="tab-base">
	
				<ul class="nav nav-tabs">
					<li>
						<a href="{$basedomain}pengaturan_admin">Tambah Administrator</a>
					</li>
					<li class="active">
						<a href="{$basedomain}pengaturan_admin/waktukriteria">Ubah Waktu & Kriteria</a>
					</li>
					<li>
						<a href="{$basedomain}pengaturan_admin/ubahkonten">Ubah Konten</a>
					</li>
					<li>
						<a href="{$basedomain}pengaturan_admin/ruanglingkup">Ubah Kategori Ruang Lingkup</a>
					</li>
				</ul>
				
				<!-- tab aacordion -->
				
		<div id="demo-accordion" class="panel-group accordion">
			<div class="panel">

				<!-- Accordion title -->
				<div class="panel-heading" style="border-bottom:1px solid rgba(0, 0, 0, 0.1)">
					<h4 class="panel-title">
					<a data-parent="#demo-accordion" data-toggle="collapse" href="#demo-acc-panel-1"><i class="fa"></i>Standar Kriteria Waktu</a>
					</h4>
				</div>

				<!-- Accordion content -->
				<div id="demo-acc-panel-1" class="panel-collapse collapse {$ws}" style="border-bottom:1px solid rgba(0, 0, 0, 0.1)">
					<div class="panel-body">
					<form id="demo-bvd-notempty" action="{$basedomain}pengaturan_admin/simpanWaKri/?data=sw&open=ws" method="post"class="form-horizontal">
						<input type="hidden" name="id" value="{if $dataSW}{$dataSW.id}{else}1{/if}">
						<input type="hidden" name="query" id="query" value="{$queryws}"/>	
						<input type="hidden" name="n_status" id="idType" value="1"/>		
						<fieldset>
							<div class="form-group">
								<label class="col-lg-3 control-label">Baik</label>
									<div class="col-lg-7">
										<input type="number" class="form-control" name="baik" value="{if $dataSW}{$dataSW.baik}{/if}" placeholder="Hari">
									</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Normal</label>
									<div class="col-lg-7">
										<input type="number" class="form-control" name="normal" value="{if $dataSW}{$dataSW.normal}{/if}" placeholder="Hari">
									</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Buruk</label>
									<div class="col-lg-7">
										<input type="number" class="form-control" name="buruk" value="{if $dataSW}{$dataSW.buruk}{/if}" placeholder="Hari">
									</div>
							</div>
						</fieldset>
						
					
					</div>
						<div class="tab-footer clearfix">
							<div class="col-lg-7 col-lg-offset-3">
								<!-- <button type="submit" class="btn btn-warning btn-labeled fa fa-pencil">Tambah Kriteria Waktu</button> -->
								<button type="submit" class="btn btn-success btn-labeled fa fa-floppy-o">Save Kriteria Waktu</button>
								<button type="submit" class="btn btn-danger btn-labeled fa fa-times">Cancel</button>	
							</div>
						</div>	
						</form>									
				</div>
				
			

				<!-- Accordion title -->
				<div class="panel-heading" style="border-bottom:1px solid rgba(0, 0, 0, 0.1)">
					<h4 class="panel-title">
					<a data-parent="#demo-accordion" data-toggle="collapse" href="#demo-acc-panel-2"><i class="fa"></i> Pengaturan Waktu Penyelesaian Pengaduan User</a>
					</h4>
				</div>

				<!-- Accordion content -->
				<div id="demo-acc-panel-2" class="panel-collapse collapse {$wp1}" style="border-bottom:1px solid rgba(0, 0, 0, 0.1)">
					<div class="panel-body">
					<form id="demo-bvd-notempty"  action="{$basedomain}pengaturan_admin/simpanWaKri/?data=wp&open=wp1" method="post"class="form-horizontal">
						<input type="hidden" name="id" value="{if $dataWP1}{$dataWP1.id}{else}1{/if}">
						<input type="hidden" name="query" id="query" value="{$querywp1}"/>	
						<input type="hidden" name="type" id="idType" value="1"/>			
						<input type="hidden" name="n_status" id="idType" value="1"/>		
						<fieldset>
							<div class="form-group">
								<label class="col-lg-3 control-label">Pencatatan</label>
									<div class="col-lg-7">
										<input type="number" class="form-control" name="pencatatan" value="{if $dataWP1}{$dataWP1.pencatatan}{/if}" placeholder="Hari">
									</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Penelaahan</label>
									<div class="col-lg-7">
										<input type="number" class="form-control" name="penelaahan" value="{if $dataWP1}{$dataWP1.penelaahan}{/if}" placeholder="Hari">
									</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Tindak Lanjut</label>
									<div class="col-lg-7">
										<input type="number" class="form-control" name="tindakLanjut" value="{if $dataWP1}{$dataWP1.tindakLanjut}{/if}" placeholder="Hari">
									</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Pengarsipan</label>
									<div class="col-lg-7">
										<input type="number" class="form-control" name="pengarsipan" value="{if $dataWP1}{$dataWP1.pengarsipan}{/if}" placeholder="Hari">
									</div>
							</div>
						</fieldset>
						
					
					</div>
						<div class="tab-footer clearfix">
							<div class="col-lg-7 col-lg-offset-3">
								<!-- <button type="submit" class="btn btn-warning btn-labeled fa fa-pencil">Tambah Proses & Waktu Penyelesaian Pengaduan</button> -->
								<button type="submit" class="btn btn-success btn-labeled fa fa-floppy-o">Save Proses & Waktu Penyelesaian Pengaduan</button>
								<button type="submit" class="btn btn-danger btn-labeled fa fa-times">Cancel</button>	
							</div>
						</div>	
						</form>									
				</div>
		

				<!-- Accordion title -->
				<div class="panel-heading" style="border-bottom:1px solid rgba(0, 0, 0, 0.1)">
					<h4 class="panel-title">
					<a data-parent="#demo-accordion" data-toggle="collapse" href="#demo-acc-panel-3"><i class="fa"></i> Pengaturan Waktu Penyelesaian Pengaduan Administrator</a>
					</h4>
				</div>

				<!-- Accordion content -->
				<div id="demo-acc-panel-3" class="panel-collapse  collapse {$wp2}" style="border-bottom:1px solid rgba(0, 0, 0, 0.1)">
					<div class="panel-body">
					<form id="demo-bvd-notempty"  action="{$basedomain}pengaturan_admin/simpanWaKri/?data=wp&open=wp2" method="post" class="form-horizontal">
						<input type="hidden" name="id" value="{if $dataWP2}{$dataWP2.id}{else}2{/if}">
						<input type="hidden" name="query" id="query" value="{$querywp2}"/>	
						<input type="hidden" name="type" id="idType" value="2"/>		
						<input type="hidden" name="n_status" id="idType" value="1"/>		
						<fieldset>
							<div class="form-group">
								<label class="col-lg-3 control-label">Pencatatan</label>
									<div class="col-lg-7">
										<input type="number" class="form-control" name="pencatatan" value="{if $dataWP2}{$dataWP2.pencatatan}{/if}" placeholder="Hari">
									</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Penelaahan</label>
									<div class="col-lg-7">
										<input type="number" class="form-control" name="penelaahan" value="{if $dataWP2}{$dataWP2.penelaahan}{/if}" placeholder="Hari">
									</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Tindak Lanjut</label>
									<div class="col-lg-7">
										<input type="number" class="form-control" name="tindakLanjut" value="{if $dataWP2}{$dataWP2.tindakLanjut}{/if}" placeholder="Hari">
									</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Pengarsipan</label>
									<div class="col-lg-7">
										<input type="number" class="form-control" name="pengarsipan" value="{if $dataWP2}{$dataWP2.pengarsipan}{/if}" placeholder="Hari">
									</div>
							</div>
						</fieldset>
						
					
					</div>
						<div class="tab-footer clearfix">
							<div class="col-lg-7 col-lg-offset-3" style="margin-bottom:20px">
								<!-- <button type="submit" class="btn btn-warning btn-labeled fa fa-pencil">Tambah Proses & Waktu Penyelesaian Pengaduan</button> -->
								<button type="submit" class="btn btn-success btn-labeled fa fa-floppy-o">Save Proses & Waktu Penyelesaian Pengaduan</button>
								<button type="submit" class="btn btn-danger btn-labeled fa fa-times">Cancel</button>	
							</div>
						</div>	
						</form>		
					</div>
				</div>
			</div>
				
				<!-- end tab accordion -->
			
			</div>
			<!--===================================================-->
			<!--End Default Tabs (Left Aligned)-->
		</div>
	</div> <!-- end row -->

</div>

<!-- End: Content 