
<div id="page-title">
	<h1 class="page-header text-overflow">Ubah Waktu dan Kriteria</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->


<!-- Begin: Content -->
<div id="page-content">

	<div class="row">
		<div class="col-lg-12">
            <!--Default Tabs (Left Aligned)-->
			<!--===================================================-->
			<div class="tab-base">
	
				<ul class="nav nav-tabs">
					<li>
						<a href="{$basedomain}pengaturan_admin">Tambah Administrator</a>
					</li>
					<li class="active">
						<a href="{$basedomain}pengaturan_admin/waktukriteria">Ubah Waktu & Kriteria</a>
					</li>
					<li>
						<a href="{$basedomain}pengaturan_admin/ubahkonten">Ubah Konten</a>
					</li>
					<li>
						<a href="{$basedomain}pengaturan_admin/ruanglingkup">Ubah Kategori Ruang Lingkup</a>
					</li>
				</ul>
				
				<!-- tab aacordion -->
				
		<div id="demo-accordion" class="panel-group accordion">
			<div class="panel">

				<!-- Accordion title -->
				<div class="panel-heading" style="border-bottom:1px solid rgba(0, 0, 0, 0.1)">
					<h4 class="panel-title">
					<a data-parent="#demo-accordion" data-toggle="collapse" href="#demo-acc-panel-1"><i class="fa"></i>Standar Kriteria Waktu</a>
					</h4>
				</div>

				<!-- Accordion content -->
				<div id="demo-acc-panel-1" class="panel-collapse collapse {$ws}" style="border-bottom:1px solid rgba(0, 0, 0, 0.1)">
					<div class="panel-body">
					<form id="demo-bvd-notempty" action="{$basedomain}pengaturan_admin/simpanWaKri/?open=ws" method="post"class="form-horizontal">
						<!-- <input type="hidden" name="type" value="1"> -->
						<!-- <input type="hidden" name="query" id="query" value="{$queryws}"/>	
						<input type="hidden" name="n_status" id="idType" value="1"/> -->		
						<fieldset>
							{if $dataSW}
							{foreach $dataSW as $keySW => $valSW}
								{if $valSW.status eq '1'}
									{$icon='check'}
									{$tooltip='Default'}
									{$btn='success'}
								{else}

									{$icon='minus'}
									{$tooltip='Jadikan Default'}
									{$btn='default'}

								{/if}
							{if $keySW<'3'}
							<div class="form-group">
								<label class="col-lg-3 control-label">{$valSW.name}</label>
									<div class="col-lg-6 input-group">
										<span class="input-group-btn">
												<a href="{$basedomain}pengaturan_admin/statusWaker/?open=ws&type={$valSW.type}&id={$valSW.id}" class="btn btn-{$btn} add-tooltip" data-original-title="{$tooltip}" data-toggle="tooltip" data-placement="right"><i class="fa fa-{$icon}-square-o" ></i></a>
											</span>
										<input type="number" class="form-control" name="value[]" value="{$valSW.value}" placeholder="Hari">
										<input type="hidden" name="id[]" value="{$valSW.id}">
									</div>
							</div>
							{else}
							<div class="form-group">
								<label class="col-lg-3 control-label">{$valSW.name}</label>
									<div class="col-lg-6 input-group">
										<span class="input-group-btn">
												<a href="{$basedomain}pengaturan_admin/statusWaker/?open=ws&type={$valSW.type}&id={$valSW.id}" class="btn btn-{$btn} add-tooltip" data-original-title="{$tooltip}" data-toggle="tooltip" data-placement="right"><i class="fa fa-{$icon}-square-o" ></i></a>
											</span>
										<input type="number" class="form-control" name="value[]" value="{$valSW.value}" placeholder="Hari">
										<input type="hidden" name="id[]" value="{$valSW.id}">
										<span class="input-group-btn">
												<a href="{$basedomain}pengaturan_admin/deleteWaker/?open=ws&type={$valSW.type}&id={$valSW.id}" class="btn btn-danger"><i class="fa fa-times"></i></a>
											</span>
									</div>
							</div>
							{/if}
							{/foreach}
							{/if}
						<!-- 	<div class="form-group">
								<label class="col-lg-3 control-label">Normal</label>
									<div class="col-lg-7">
										<input type="number" class="form-control" name="normal" value="{if $dataSW}{$dataSW.normal}{/if}" placeholder="Hari">
									</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Buruk</label>
									<div class="col-lg-7">
										<input type="number" class="form-control" name="buruk" value="{if $dataSW}{$dataSW.buruk}{/if}" placeholder="Hari">
									</div>
							</div> -->
						</fieldset>
						
					
					</div>
						<div class="tab-footer clearfix">
							<div class="col-lg-7 col-lg-offset-3">
								<button type="button"  data-target="#demo-default-modal" data-toggle="modal" class="btn btn-info btn-labeled fa fa-pencil">Tambah </button>
								<button type="submit" class="btn btn-success btn-labeled fa fa-floppy-o">Save </button>
								<button type="reset" class="btn btn-danger btn-labeled fa fa-times">Cancel</button>	
							</div>
						</div>	
						</form>									
				</div>
				
			

				<!-- Accordion title -->
				<div class="panel-heading" style="border-bottom:1px solid rgba(0, 0, 0, 0.1)">
					<h4 class="panel-title">
					<a data-parent="#demo-accordion" data-toggle="collapse" href="#demo-acc-panel-2"><i class="fa"></i> Pengaturan Waktu Penyelesaian Pengaduan User</a>
					</h4>
				</div>

				<!-- Accordion content -->
				<div id="demo-acc-panel-2" class="panel-collapse collapse {$wp1}" style="border-bottom:1px solid rgba(0, 0, 0, 0.1)">
					<div class="panel-body">
					<form id="demo-bvd-notempty"  action="{$basedomain}pengaturan_admin/simpanWaKri/?open=wp1" method="post"class="form-horizontal">
						<!-- <input type="hidden" name="id" value="{if $dataWP1}{$dataWP1.id}{else}1{/if}">
						<input type="hidden" name="query" id="query" value="{$querywp1}"/>	
						<input type="hidden" name="type" id="idType" value="1"/>			
						<input type="hidden" name="n_status" id="idType" value="1"/>		 -->
						<fieldset>
							{if $dataWP1}
							{foreach $dataWP1 as $keyWP1 => $valWP1}
							{if $valWP1.status eq '1'}
									{$icon='check'}
									{$tooltip='Default'}
									{$btn='success'}
								{else}

									{$icon='minus'}
									{$tooltip='Jadikan Default'}
									{$btn='default'}

								{/if}
							{if $keyWP1<'4'}
							<div class="form-group">
								<label class="col-lg-3 control-label">{$valWP1.name}</label>
									<div class="col-lg-6 input-group">
										<span class="input-group-btn">
												<a href="{$basedomain}pengaturan_admin/statusWaker/?open=wp1&type={$valWP1.type}&id={$valWP1.id}" class="btn btn-{$btn} add-tooltip" data-original-title="{$tooltip}" data-toggle="tooltip" data-placement="right"><i class="fa fa-{$icon}-square-o" ></i></a>
											</span>
										<input type="number" class="form-control" name="value[]" value="{$valWP1.value}" placeholder="Hari">
										<input type="hidden" name="id[]" value="{$valWP1.id}">
									</div>
							</div>
							{else}
							<div class="form-group">
								<label class="col-lg-3 control-label">{$valWP1.name}</label>
									<div class="col-lg-6 input-group">
										<span class="input-group-btn">
												<a href="{$basedomain}pengaturan_admin/statusWaker/?open=wp1&type={$valWP1.type}&id={$valWP1.id}" class="btn btn-{$btn} add-tooltip" data-original-title="{$tooltip}" data-toggle="tooltip" data-placement="right"><i class="fa fa-{$icon}-square-o" ></i></a>
											</span>
										<input type="number" class="form-control" name="value[]" value="{$valWP1.value}" placeholder="Hari">
										<input type="hidden" name="id[]" value="{$valWP1.id}">
										<span class="input-group-btn">
												<a href="{$basedomain}pengaturan_admin/deleteWaker/?open=wp1&type={$valWP1.type}&id={$valWP1.id}" class="btn btn-danger"><i class="fa fa-times"></i></a>
											</span>
									</div>
							</div>
							{/if}
							{/foreach}
							{/if}
							<!-- <div class="form-group">
								<label class="col-lg-3 control-label">Pencatatan</label>
									<div class="col-lg-7">
										<input type="number" class="form-control" name="pencatatan" value="{if $dataWP1}{$dataWP1.pencatatan}{/if}" placeholder="Hari">
									</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Penelaahan</label>
									<div class="col-lg-7">
										<input type="number" class="form-control" name="penelaahan" value="{if $dataWP1}{$dataWP1.penelaahan}{/if}" placeholder="Hari">
									</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Tindak Lanjut</label>
									<div class="col-lg-7">
										<input type="number" class="form-control" name="tindakLanjut" value="{if $dataWP1}{$dataWP1.tindakLanjut}{/if}" placeholder="Hari">
									</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Pengarsipan</label>
									<div class="col-lg-7">
										<input type="number" class="form-control" name="pengarsipan" value="{if $dataWP1}{$dataWP1.pengarsipan}{/if}" placeholder="Hari">
									</div>
							</div> -->
						</fieldset>
						
					
					</div>
						<div class="tab-footer clearfix">
							<div class="col-lg-7 col-lg-offset-3">
								<button type="button"  data-target="#demo-default-modal2" data-toggle="modal" class="btn btn-info btn-labeled fa fa-pencil">Tambah </button>
								<button type="submit" class="btn btn-success btn-labeled fa fa-floppy-o">Save </button>
								<button type="submit" class="btn btn-danger btn-labeled fa fa-times">Cancel</button>	
							</div>
						</div>	
						</form>									
				</div>
		

				<!-- Accordion title -->
				<div class="panel-heading" style="border-bottom:1px solid rgba(0, 0, 0, 0.1)">
					<h4 class="panel-title">
					<a data-parent="#demo-accordion" data-toggle="collapse" href="#demo-acc-panel-3"><i class="fa"></i> Pengaturan Waktu Penyelesaian Pengaduan Administrator</a>
					</h4>
				</div>

				<!-- Accordion content -->
				<div id="demo-acc-panel-3" class="panel-collapse  collapse {$wp2}" style="border-bottom:1px solid rgba(0, 0, 0, 0.1)">
					<div class="panel-body">
					<form id="demo-bvd-notempty"  action="{$basedomain}pengaturan_admin/simpanWaKri/?open=wp2" method="post" class="form-horizontal">
						<!-- <input type="hidden" name="id" value="{if $dataWP2}{$dataWP2.id}{else}2{/if}">
						<input type="hidden" name="query" id="query" value="{$querywp2}"/>	
						<input type="hidden" name="type" id="idType" value="2"/>		
						<input type="hidden" name="n_status" id="idType" value="1"/>		 -->
						<fieldset>
							{if $dataWP2}
							{foreach $dataWP2 as $keyWP2 => $valWP2}
							{if $valWP2.status eq '1'}
									{$icon='check'}
									{$tooltip='Default'}
									{$btn='success'}
								{else}

									{$icon='minus'}
									{$tooltip='Jadikan Default'}
									{$btn='default'}

								{/if}
							{if $keyWP2<'4'}
							<div class="form-group">
								<label class="col-lg-3 control-label">{$valWP2.name}</label>
									<div class="col-lg-6 input-group">
										<span class="input-group-btn">
												<a href="{$basedomain}pengaturan_admin/statusWaker/?open=wp2&type={$valWP2.type}&id={$valWP2.id}" class="btn btn-{$btn} add-tooltip" data-original-title="{$tooltip}" data-toggle="tooltip" data-placement="right"><i class="fa fa-{$icon}-square-o" ></i></a>
											</span>
										<input type="number" class="form-control" name="value[]" value="{$valWP2.value}" placeholder="Hari">
										<input type="hidden" name="id[]" value="{$valWP2.id}">
									</div>
							</div>
							{else}
							<div class="form-group">
								<label class="col-lg-3 control-label">{$valWP2.name}</label>
									<div class="col-lg-6 input-group">
										<span class="input-group-btn">
												<a href="{$basedomain}pengaturan_admin/statusWaker/?open=wp2&type={$valWP2.type}&id={$valWP2.id}" class="btn btn-{$btn} add-tooltip" data-original-title="{$tooltip}" data-toggle="tooltip" data-placement="right"><i class="fa fa-{$icon}-square-o" ></i></a>
											</span>
										<input type="number" class="form-control" name="value[]" value="{$valWP2.value}" placeholder="Hari">
										<input type="hidden" name="id[]" value="{$valWP2.id}">
										<span class="input-group-btn">
												<a href="{$basedomain}pengaturan_admin/deleteWaker/?open=wp2&type={$valWP2.type}&id={$valWP2.id}" class="btn btn-danger"><i class="fa fa-times"></i></a>
											</span>
									</div>
							</div>
							{/if}
							{/foreach}
							{/if}
							<!-- <div class="form-group">
								<label class="col-lg-3 control-label">Pencatatan</label>
									<div class="col-lg-7">
										<input type="number" class="form-control" name="pencatatan" value="{if $dataWP2}{$dataWP2.pencatatan}{/if}" placeholder="Hari">
									</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Penelaahan</label>
									<div class="col-lg-7">
										<input type="number" class="form-control" name="penelaahan" value="{if $dataWP2}{$dataWP2.penelaahan}{/if}" placeholder="Hari">
									</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Tindak Lanjut</label>
									<div class="col-lg-7">
										<input type="number" class="form-control" name="tindakLanjut" value="{if $dataWP2}{$dataWP2.tindakLanjut}{/if}" placeholder="Hari">
									</div>
							</div>
							<div class="form-group">
								<label class="col-lg-3 control-label">Pengarsipan</label>
									<div class="col-lg-7">
										<input type="number" class="form-control" name="pengarsipan" value="{if $dataWP2}{$dataWP2.pengarsipan}{/if}" placeholder="Hari">
									</div>
							</div> -->
						</fieldset>
						
					
					</div>
						<div class="tab-footer clearfix">
							<div class="col-lg-7 col-lg-offset-3" style="margin-bottom:20px">
								<button type="button"  data-target="#demo-default-modal3" data-toggle="modal" class="btn btn-info btn-labeled fa fa-pencil">Tambah</button>
								<button type="submit" class="btn btn-success btn-labeled fa fa-floppy-o">Save </button>
								<button type="submit" class="btn btn-danger btn-labeled fa fa-times">Cancel</button>	
							</div>
						</div>	
						</form>		
					</div>
				</div>
			</div>
				
				<!-- end tab accordion -->
			
			</div>
			<!--===================================================-->
			<!--End Default Tabs (Left Aligned)-->
		</div>
	</div> <!-- end row -->

</div>

<!-- End: Content -->

<div class="modal fade" id="demo-default-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="{$basedomain}pengaturan_admin/tambahWaktu/?open=ws" method="POST">
				<!--Modal header-->
				<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button">
					<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Form Tambah Standar Kriteria Waktu</h4>
				</div>

				<!--Modal body-->
				<div class="modal-body">
					<div class="bootbox-body">
						<div class="row"> 
							<div class="col-md-12 form-horizontal"> 
								<input type="hidden" value="1" name="type"> 
									<div class="form-group"> 
										<label for="name" class="col-md-4 control-label">Nama</label> 
										<div class="col-md-4"> 
											<input type="text" class="form-control input-md" placeholder="Your name" name="name" id="name" required> 
										</div> 
									</div> 
									<div class="form-group"> 
										<label for="value" class="col-md-4 control-label">Waktu</label> 
										<div class="col-md-4"> 
											<input type="number" class="form-control input-md" placeholder="Your value" name="value" id="value" required> 
										</div> 
									</div> 
							</div> 
						</div>
					</div>
					
				</div>

				<!--Modal footer-->
				<div class="modal-footer">
					<button data-dismiss="modal" class="btn btn-default" type="button">Batal</button>
					<button type="Submit "class="btn btn-primary">Simpan Data</button>
				</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal fade" id="demo-default-modal2" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="{$basedomain}pengaturan_admin/tambahWaktu/?open=wp1" method="POST">
				<!--Modal header-->
				<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button">
					<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Form Tambah Pengaturan Waktu Penyelesaian Pengaduan User</h4>
				</div>

				<!--Modal body-->
				<div class="modal-body">
					<div class="bootbox-body">
						<div class="row"> 
							<div class="col-md-12 form-horizontal"> 
								<input type="hidden" value="2" name="type"> 
									<div class="form-group"> 
										<label for="name" class="col-md-4 control-label">Nama</label> 
										<div class="col-md-4"> 
											<input type="text" class="form-control input-md" placeholder="Your name" name="name" id="name" required> 
										</div> 
									</div> 
									<div class="form-group"> 
										<label for="value" class="col-md-4 control-label">Waktu</label> 
										<div class="col-md-4"> 
											<input type="number" class="form-control input-md" placeholder="Your value" name="value" id="value" required> 
										</div> 
									</div> 
							</div> 
						</div>
					</div>
					
				</div>

				<!--Modal footer-->
				<div class="modal-footer">
					<button data-dismiss="modal" class="btn btn-default" type="button">Batal</button>
					<button type="Submit "class="btn btn-primary">Simpan Data</button>
				</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal fade" id="demo-default-modal3" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="{$basedomain}pengaturan_admin/tambahWaktu/?open=wp2" method="POST">
				<!--Modal header-->
				<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button">
					<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Form Tambah Pengaturan Waktu Penyelesaian Pengaduan Administrator
</h4>
				</div>

				<!--Modal body-->
				<div class="modal-body">
					<div class="bootbox-body">
						<div class="row"> 
							<div class="col-md-12 form-horizontal"> 
								<input type="hidden" value="3" name="type"> 
									<div class="form-group"> 
										<label for="name" class="col-md-4 control-label">Nama</label> 
										<div class="col-md-4"> 
											<input type="text" class="form-control input-md" placeholder="Your name" name="name" id="name" required> 
										</div> 
									</div> 
									<div class="form-group"> 
										<label for="value" class="col-md-4 control-label">Waktu</label> 
										<div class="col-md-4"> 
											<input type="number" class="form-control input-md" placeholder="Your value" name="value" id="value" required> 
										</div> 
									</div> 
							</div> 
						</div>
					</div>
					
				</div>

				<!--Modal footer-->
				<div class="modal-footer">
					<button data-dismiss="modal" class="btn btn-default" type="button">Batal</button>
					<button type="Submit "class="btn btn-primary">Simpan Data</button>
				</div>
				</form>
			</div>
		</div>
	</div>
	<!--===================================================-->
	<!--End Default Bootstrap Modal