<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Balas Laporan</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

	<!--Page content-->
	<!--===================================================-->
	<div id="page-content">
	
		<div class="row">
			<div class="col-md-3">
				
				<div class="list-group bg-trans">
					<h4 class="text-thin">Laporan Pengaduan</h4>
						<a href="{$basedomain}daftar_pengaduan/detail/?id={$id}" class="list-group-item list-item-sm">
						<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
						Isi Laporan Pengaduan
						</a>
				</div>
					<hr>
					<div class="list-group bg-trans">
						<h4 class="text-thin">Penanganan Laporan Pengaduan</h4>
					
						<!-- Menu list item -->
						<a href="{$basedomain}daftar_pengaduan/penelaahan/?id={$id}" class="list-group-item list-item-sm">
							<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
							Penelaahan Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/disposisi/?id={$id}" class="list-group-item list-item-sm">
							<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
							Distribusi Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/balas/?id={$id}" class="list-group-item list-item-sm" style="background-color:rgba(125,211,188,0.5);">
							<span class="badge badge-success badge-icon badge-fw pull-left"></span>
							Balas Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/tindak_lanjut/?id={$id}" class="list-group-item list-item-sm">
							<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
							Tindak Lanjut Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/penelusuran/?id={$id}" class="list-group-item list-item-sm">
							<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
							Penelusuran Laporan
						</a>
					</div>
			</div>
			
			<div class="col-md-9">
				<div class="panel panel-success panel-left">
				
					<div class="panel-heading">
							<h3 class="panel-title"><strong>[#{$dataPengaduan.idLaporan}] - {$dataPengaduan.judul}</strong></h3>
						</div>
					
					<div class="panel-body">
						<table id="demo-foo-row-toggler" class="table toggle-circle">
							<thead>
								<tr>
									<th data-toggle="true" width="10%">No</th>
									<th>Nama</th>
									<th>Tanggal Pengaduan</th>
									<th>Tanggal Balas</th>
									<th>Sisa Waktu</th>
									<th>Status</th>
									<th>Aksi</th>
									<th data-hide="all">Detail</th>
								</tr>
							</thead>
							<tbody>
								{foreach $dataBalas as $key => $val}
								<tr>
									<td>{$key+1}</td>
									<td>{$val.nameUser}</td>
									<td>{$dataPengaduan.tanggalformat}</td>
									<td>{$val.tanggalstd}</td>
									<td>{$dataPengaduan.sisaWaktu}</td>
									<td>
										{if $val.n_status eq '1'}
										<span class="label label-success">Publish</span>
										{else}
										<span class="label label-danger">Non Publish</span>
										{/if}
									</td>
									<td>
										{if $val.typeUser neq '2'}
										<a href="{$basedomain}daftar_pengaduan/balas/?id={$id}&req={$val.idComment}">
										<button class="btn btn-xs btn-warning btn-icon fa fa-pencil btn-hover-info add-tooltip" data-placement="top" data-toggle="tooltip" data-original-title="Edit"></button>
										</a>
										{/if}
										<a href="{$basedomain}daftar_pengaduan/stsComment/?req={$val.idComment}&chg={$id}">
										<button class="btn btn-xs btn-{if $val.n_status eq '1'}danger{else}success{/if} btn-icon fa fa-eye btn-hover-info add-tooltip publish" data-placement="top" data-toggle="tooltip" data-original-title="{if $val.n_status eq '1'}Non Publish{else}Publish{/if}"></button>
									</td>
									<td>
										{$val.isi}
										{if !empty($val.files)}
										<div class="col-md-12 col-sm-9 col-xs-9">
											<i class="fa fa-paperclip"></i><strong> Attachment:</strong><br>
											{foreach $val.files as $file}
											<a href="{$app_domain}public_assets/{$file.nama}" class="tab-post-link">{$file.nama}<br>
											<small style="color:green">download</small>
											</a>
											{/foreach}
										</div>
										{/if}
									</td>
								</tr>
								{/foreach}
								
							</tbody>
						</table>
					</div>
					
					<hr>
					
					<!--Tabs Content-->
							<form class="form-horizontal" action="{$basedomain}daftar_pengaduan/ins_balas" method="post" enctype="multipart/form-data">
								{*}<div class="form-group">
								<div class="row">
								<div class="col-md-6">
									<label class="col-sm-5 control-label">Pilih Status Laporan</label>
										<div class="col-sm-7">
											<select class="selectpicker">
												<option>Dalam proses</option>
												<option>Selesai</option>
											</select>
										</div>
								</div>
								<div class="col-md-12">
									<label class="col-sm-8 control-label">Pilih</label>
										<div class="col-sm-4">
											<select class="selectpicker">
												<option>Publish</option>
												<option>Non-Publish</option>
											</select>
										</div>
								</div>
								</div>
								</div>{/*}
									
						
									<!-- COMPOSE EMAIL -->
									<!--===================================================-->
									<div class="panel panel-default panel-left">
										<div class="panel-body">
										
										<!--Attact file button-->
										<div class="media pad-btm" {if !empty($dataComment.idComment)}style="display:none"{/if}>
											<div class="media-left">
												<span class="btn btn-default btn-file">
													Attachment <input type="file" name="myfile">
												</span>
											</div>
											<div id="demo-attach-file" class="media-body"></div>
											<small class="help-block">Maximum file size:5Mb (pdf/png/jpg/doc/docx/xls/xlsx/odt/odf/txt)</small>
										</div>

										{if !empty($dataComment.idComment)}
										<div class="media pad-btm">
										<h4><i class="fa fa-paperclip fa-fw"></i> Lampiran </h4>
										{foreach $dataComment.files as $val}
											<!--Download button-->
											<div class="mail-attach-btn"><a href="{$app_domain}public_assets/{$val.nama}" class="btn btn-purple btn-sm">Download</a></div>
		
											<!--File information-->
											<div class="mail-attach-file">
												<span class="mail-attach-label">
													<span class="label label-info text-uppercase">File</span>
												</span>
												<div class="media-body">
													<div class="text-bold">{$val.nama}</div>
													{*}<small class="text-muted">(15 KB)</small>{/*}
												</div>
											</div>
										{/foreach}
										</div>
										{/if}
						
						
											<!--Wysiwyg editor : Summernote placeholder-->
											<textarea id="demo-mail-compose" name="isi">
												
											</textarea>
											
											<!-- HIDDDEN -->
											<input type="hidden" name="idPengaduan" value="{$dataPengaduan.idPengaduan}">
											<input type="hidden" name="n_status" value="1">
											{if !empty($dataComment.idComment)}
												<input type="hidden" name="idComment" value="{$dataComment.idComment}">
											{/if}

											<div class="pad-ver">

												<button id="mail-send-btn" type="submit" class="btn btn-primary btn-labeled">
													<span class="btn-label"><i class="fa fa-send"></i></span> Kirim
												</button>
			
											</div>
										</div>
									</div>
									<!--===================================================-->
									<!-- END COMPOSE EMAIL -->
					

							</form>		
	
				</div>
			
			</div>
	
		</div> <!-- end row -->
		
	</div>
	<!--===================================================-->
	<!--End page content-->
				

<script>
	
	$(window).on('load', function() {
		// Row Toggler
		// -----------------------------------------------------------------
		$('#demo-foo-row-toggler').footable();
	});

	$(document).on('ready', function() {
		if ($('#demo-mail-compose').length) {
			// SUMMERNOTE
			// =================================================================
			// Require Summernote
			// http://hackerwins.github.io/summernote/
			// =================================================================
			$('#demo-mail-compose').summernote({
				height:200,
			});
			$("#demo-mail-compose").code("{$dataComment.isi}");
			// Attachment button.
			// =================================================================
			var size = new Array();
			$('.btn-file :file').on('fileselect', function(event, numFiles, label, fileSize) {
				size.push(fileSize);
				$('#demo-attach-file').html('<strong class="box-block text-capitalize"><i class="fa fa-paperclip fa-fw"></i> '+label+'</strong><small class="text-muted">'+size[0]+'</small>');

			});
			
			return;
		}
		
		
	});

</script>

		