<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Detail Laporan Pengaduan</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

	<!--Page content-->
	<!--===================================================-->
	<div id="page-content">
	
		<div class="row">
			<div class="col-md-3">
				
				<div class="list-group bg-trans">
					<h4 class="text-thin">Laporan Pengaduan</h4>
						<a href="{$basedomain}daftar_pengaduan/detail" class="list-group-item list-item-sm" style="background-color:rgba(125,211,188,0.5);">
						<span class="badge badge-purple badge-icon badge-fw pull-left"></span>
						Isi Laporan Pengaduan
						</a>
				</div>
					<hr>
					<div class="list-group bg-trans">
						<h4 class="text-thin">Penanganan Laporan Pengaduan</h4>
					
						<!-- Menu list item -->
						<a href="{$basedomain}daftar_pengaduan/tindak_lanjut" class="list-group-item list-item-sm">
							<span class="badge badge-purple badge-icon badge-fw pull-left"></span>
							Tindak Lanjut Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/penelusuran" class="list-group-item list-item-sm">
							<span class="badge badge-info badge-icon badge-fw pull-left"></span>
							Penelusuran Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/penelaahan" class="list-group-item list-item-sm">
							<span class="badge badge-pink badge-icon badge-fw pull-left"></span>
							Penelaahan Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/balas" class="list-group-item list-item-sm">
							<span class="badge badge-success badge-icon badge-fw pull-left"></span>
							Balas Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/disposisi" class="list-group-item list-item-sm">
							<span class="badge badge-danger badge-icon badge-fw pull-left"></span>
							Disposisi Laporan
						</a>
					</div>
			</div>
			
			<div class="col-md-9">
				<!-- MAIL INBOX -->
				<!--===================================================-->
				<div class="panel panel-default panel-left">
					<div id="demo-email-list" class="panel-body">
						<div class="media-heading">
							<h3>Pengiriman dokumen yang terlalu lama</h3>
						</div>
							<p class="text-danger">Sisa waktu penyelesaian 4 hari</p>
							<p> ID Laporan : 56322233 </p>
							<p>	Rabu, 08 Juli 2015 14:25 WIB </p>
							<p>	Nama Pelapor  : Ariana Grande </p>
							<p>	Email Laporan : ariani@hotmail.com </p>
							<p>	No. HP : 08911111 </p>
								<p><a class="btn-link" href="#"><u> Data Selengkapnya </u></a></p>
							<div class="row">
								<div class="col-md-2">
								<p>	Status Laporan: </p>
								</div>
								<div class="col-md-4">
										<select class="selectpicker">
											<option>Dalam Proses</option>
											<option>Proses Selesai</option>
											<option>Postpone</option>
										</select>
								</div>
								<div class="col-md-6">
								<button type="submit" class="btn btn-primary btn-labeled fa fa-refresh">Update</button>  
								</div>
							</div>
							
							<hr>
							
							
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title"><strong>Isi Laporan </strong></h3>
								</div>
					
								<!--Widget body-->
								<div id="demo-chat-body" class="collapse in">
									<div class="nano" style="height:380px">
										<div class="nano-content pad-all">
											<div class="pad-all bord-all bg-gray-light">
											
												Yth. Admin BSN,
												<br><br>
												Saya sudah membeli produk SNI dimana pemesanan dan proses pembayaran sudah saya lakukan pada 1 bulan yang lalu. 
												<br>
												Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
												<br><br>
												Terima kasih,
												<br>
												<strong>Ariana</strong>
											</div>
							
												<div class="pad-ver">
													<h4><i class="fa fa-paperclip fa-fw"></i> Attachments <span>(2)</span></h4>
						
													<ul class="mail-attach-list list-ov">
														<li class=" clearfix">
						
															<!--Download button-->
															<div class="mail-attach-btn"><a href="#" class="btn btn-purple btn-sm">Download</a></div>
						
															<!--File information-->
															<div class="mail-attach-file">
																<span class="mail-attach-label">
																	<span class="label label-info text-uppercase">Images</span>
																</span>
																<div class="media-body">
																	<div class="text-bold"><a href="#">IMG_007.jpg</a></div>
																	<small class="text-muted">(15 KB)</small>
																</div>
															</div>
														</li>
														<li class="clearfix">
						
															<!--Download button-->
															<div class="mail-attach-btn"><a href="#" class="btn btn-purple btn-sm">Download</a></div>
						
															<!--File information-->
															<div class="mail-attach-file">
																<span class="mail-attach-label">
																	<span class="label label-warning  text-uppercase">Video</span>
																</span>
																<div class="media-body">
																	<div class="text-bold"><a href="#">VID_007.mp4</a></div>
																	<small class="text-muted">(178 MB)</small>
																</div>
															</div>
														</li>
														<li class="clearfix">
														<p><a class="btn-link" href="#"><h4><u> Download All Attachment</u> </h4> </a></p>
														</li>
													</ul>
												</div>
												<!--===================================================-->
												<!-- End Attach Files-->
										</div>
										
									</div>
								</div>
																						
							</div>
					</div>
				
				</div>
	
			</div> 
		
		
		</div><!-- end row -->
		
	</div>
	<!--===================================================-->
	<!--End page content-->
	
		