<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Detail Laporan Pengaduan</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

	<!--Page content-->
	<!--===================================================-->
	<div id="page-content">
	
		<div class="row">
			<div class="col-md-3">
				
				<div class="list-group bg-trans">
					<h4 class="text-thin">Laporan Pengaduan</h4>
						<a href="{$basedomain}daftar_pengaduan/detail/?id={$id}" class="list-group-item list-item-sm" style="background-color:rgba(125,211,188,0.5);">
						<span class="badge badge-success badge-icon badge-fw pull-left"></span>
						Isi Laporan Pengaduan
						</a>
				</div>
					<hr>
					<div class="list-group bg-trans">
						<h4 class="text-thin">Penanganan Laporan Pengaduan</h4>
					
						<!-- Menu list item -->
						<a href="{$basedomain}daftar_pengaduan/penelaahan/?id={$id}" class="list-group-item list-item-sm">
							<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
							Penelaahan Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/disposisi/?id={$id}" class="list-group-item list-item-sm">
							<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
							Distribusi Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/balas/?id={$id}" class="list-group-item list-item-sm">
							<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
							Balas Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/tindak_lanjut/?id={$id}" class="list-group-item list-item-sm">
							<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
							Tindak Lanjut Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/penelusuran/?id={$id}" class="list-group-item list-item-sm">
							<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
							Penelusuran Laporan
						</a>
					</div>
			</div>
			
			<div class="col-md-9">
				<!-- MAIL INBOX -->
				<!--===================================================-->
				<div class="panel panel-success panel-left">
					<div class="panel-heading">
						<h3 class="panel-title"><strong>{$dataPengaduan.judul}</strong></h3>
					</div>
					<div id="demo-email-list" class="panel-body">
							
							<p class="text-danger">Sisa waktu penyelesaian 4 hari</p>
							<p> ID Laporan : {$dataPengaduan.idLaporan} </p>
							<p>	Tanggal Laporan : {$dataPengaduan.tanggalformat} </p>
							<p>	Nama Pelapor  : {$dataPengaduan.nameUser} </p>
							<p>	Email Laporan : {$dataPengaduan.emailUser} </p>
							<p>	No. HP : {$dataPengaduan.hpUser} </p>
								{*}<p><a class="btn-link" href="#"><u> Data Selengkapnya </u></a></p>{/*}
							<form action="{$basedomain}daftar_pengaduan/chg_status" method="post">	
							<div class="row">
								<div class="col-md-2">
								<p>	Status Laporan: </p>
								</div>
								<div class="col-md-4">
										<select class="selectpicker" name="status">
											<option value="1" {if $dataPengaduan.status eq '1'}selected{/if}>Aktif</option>
											<option value="2" {if $dataPengaduan.status eq '2'}selected{/if}>Ditindak Lanjuti</option>
											<option value="3" {if $dataPengaduan.status eq '3'}selected{/if}>Tidak Ditindak Lanjuti</option>
											<option value="4" {if $dataPengaduan.status eq '4'}selected{/if}>Selesai</option>
										</select>
								</div>
								<!-- HIDDEN -->
								<input type="hidden" name="idPengaduan" value="{$dataPengaduan.idPengaduan}">

								<div class="col-md-6">
								<button type="submit" class="btn btn-primary btn-labeled fa fa-refresh">Update</button>  
								</div>
							</div>
							</form>
							<hr>
							
							
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title"><strong>Isi Laporan </strong></h3>
								</div>
					
								<!--Widget body-->
								<div id="demo-chat-body" class="collapse in">
									<div class="nano" style="height:380px">
										<div class="nano-content pad-all">
											<div class="pad-all bord-all bg-gray-light">
											
												{$dataPengaduan.isi}

											</div>
							
												<div class="pad-ver">
													<h4><i class="fa fa-paperclip fa-fw"></i> Attachments</h4>
						
													<ul class="mail-attach-list list-ov">
														{foreach $file as $val}
														<li class=" clearfix">
														
															<!--Download button-->
															<div class="mail-attach-btn"><a href="{$app_domain}public_assets/{$val.nama}" class="btn btn-purple btn-sm">Download</a></div>
						
															<!--File information-->
															<div class="mail-attach-file">
																<span class="mail-attach-label">
																	<span class="label label-info text-uppercase">file</span>
																</span>
																<div class="media-body">
																	<div class="text-bold">{$val.nama}</div>
																	{*}<small class="text-muted">(15 KB)</small>{/*}
																</div>
															</div>
														</li>
														{/foreach}
														{*}<li class="clearfix">
														<p><a class="btn-link" href="#"><h4><u> Download All Attachment</u> </h4> </a></p>
														</li>{/*}
													</ul>
												</div>
												<!--===================================================-->
												<!-- End Attach Files-->
										</div>
										
									</div>
								</div>
																						
							</div>
					</div>
				
				</div>
	
			</div> 
		
		
		</div><!-- end row -->
		
	</div>
	<!--===================================================-->
	<!--End page content-->
	
		