<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Distribusi Laporan</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

	<!--Page content-->
	<!--===================================================-->
	<div id="page-content">
	
		<div class="row">
			<div class="col-md-3">
				
				<div class="list-group bg-trans">
					<h4 class="text-thin">Laporan Pengaduan</h4>
						<a href="{$basedomain}daftar_pengaduan/detail/?id={$id}" class="list-group-item list-item-sm">
						<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
						Isi Laporan Pengaduan
						</a>
				</div>
					<hr>
					<div class="list-group bg-trans">
						<h4 class="text-thin">Penanganan Laporan Pengaduan</h4>
					
						<!-- Menu list item -->
						<a href="{$basedomain}daftar_pengaduan/penelaahan/?id={$id}" class="list-group-item list-item-sm">
							<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
							Penelaahan Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/disposisi/?id={$id}" class="list-group-item list-item-sm" style="background-color:rgba(125,211,188,0.5);">
							<span class="badge badge-success badge-icon badge-fw pull-left"></span>
							Distribusi Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/balas/?id={$id}" class="list-group-item list-item-sm">
							<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
							Balas Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/tindak_lanjut/?id={$id}" class="list-group-item list-item-sm">
							<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
							Tindak Lanjut Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/penelusuran/?id={$id}" class="list-group-item list-item-sm">
							<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
							Penelusuran Laporan
						</a>
					</div>
			</div>
			
			<div class="col-md-9">
				<div class="panel panel-success panel-left">
					
					<div class="panel-heading">
						<h3 class="panel-title"><strong>[#{$dataPengaduan.idLaporan}] - {$dataPengaduan.judul}</strong></h3>
					</div>
					<!-- <div class="panel">
						<h3 class="panel-title"><strong>Riwayat Disposisi Laporan</strong></h3>
					</div> -->
					
					<div class="panel-body">

						<div class="panel">
						<h4 class="panel-title"><strong>Riwayat Distribusi Laporan</strong></h4>
					</div>

						<table id="demo-foo-row-toggler" class="table toggle-circle">
							<thead>
								<tr>
									<th data-toggle="true" width="10%">No</th>
									<th>ID laporan</th>
									<th>Nama user</th>
									<th>Nomor Surat</th>
									<th>Tanggal Laporan</th>
									<th>Tanggal Distribusi</th>
									<th data-hide="all">Tujuan</th>
									<th>Sisa Waktu</th>
									<th data-hide="all">Detail</th>
								</tr>
							</thead>
							<tbody>
								{foreach $disposisi as $key => $val}
								<tr>
									<td>{$key+1}</td>
									<td>{$dataPengaduan.idLaporan}</td>
									<td>{$val.nameUser}</td>
									<td>{$val.noSurat}</td>
									<td>{$dataPengaduan.tanggalformat}</td>
									<td>{$val.tanggalstd}</td>
									<td>{$val.nameSatker}</td>
									<td>{$dataPengaduan.sisaWaktu}</td>
									<td>{$val.isi}
										{if !empty($val.files)}
										<div class="col-md-12 col-sm-9 col-xs-9">
											<i class="fa fa-paperclip"></i><strong> Attachment:</strong><br>
											{foreach $val.files as $file}
											<a href="{$app_domain}public_assets/{$file.nama}" class="tab-post-link">{$file.nama}<br>
											<small style="color:green">download</small>
											</a>
											{/foreach}
										</div>
										{/if}
									</td>
								</tr>
								{/foreach}
							</tbody>
						</table>
					</div>
					
					
					<div class="panel-heading">
						<h4 class="panel-title"><strong>Kirim Disposisi</strong></h4>
					</div>
					
					<form class="panel-body form-horizontal form-padding" action="{$basedomain}daftar_pengaduan/ins_disposisi" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label for="demo-msk-ssn" class="col-md-2 control-label">No. Surat</label>
							<div class="col-md-10">
								<input type="text" name="noSurat" class="form-control">
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-2 control-label" for="demo-text-input">Disposisi ke</label>
							<div class="col-md-10">
								<select class="selectpicker" name="tujuan" data-width="100%" title="Pilih Satker">
									<option data-hidden="true"></option>
									{foreach $satker as $val}
									<option value="{$val.idSatker}" {if $penelaahan.satker eq $val.idSatker}selected{/if}>{$val.nama_satker}</option>
									{/foreach}
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-2 control-label">Tembusan Disposisi</label>
							<div class="col-md-10">
								<select class="selectpicker" name="tembusan" data-width="100%" title="Pilih Satker">
									<option data-hidden="true"></option>
									{foreach $satker as $val}
									<option value="{$val.idSatker}" {if $penelaahan.satker eq $val.idSatker}selected{/if}>{$val.nama_satker}</option>
									{/foreach}
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-2 control-label">Subjek Disposisi</label>
							<div class="col-md-10">
								<input type="text" name="subjek" class="form-control" >
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-md-2 control-label" for="demo-text-input">Data Pendukung</label>
							<div class="col-md-10">
								<!--Attact file button-->
								<div class="media pad-btm">
									<div class="media-left">
										<span class="btn btn-purple btn-file btn-labeled fa fa-upload">
											Upload <input type="file" name="myfile">
										</span>
									</div>
									<div id="demo-attach-file" class="media-body"></div>
									<small class="help-block">Maximum file size:5Mb (pdf/png/jpg/doc/docx/xls/xlsx/odt/odf/txt)</small>
								</div>
							</div>
						</div>
						
									
						<!-- COMPOSE EMAIL -->
						<!--===================================================-->
						<div class="panel panel-default panel-left">
							<div class="panel-body">
							
							
			
			
								<!--Wysiwyg editor : Summernote placeholder-->
								<textarea id="demo-mail-compose" name="isi"></textarea>

								<!-- HIDDEN -->
								<input type="hidden" name="idPengaduan" value="{$id}">
			
								<div class="pad-ver">

									<button id="mail-send-btn" type="submit" class="btn btn-primary btn-labeled">
										<span class="btn-label"><i class="fa fa-send"></i></span> Kirim
									</button>
									{*}<button type="submit" class="btn btn-success btn-labeled fa fa-floppy-o">Save Draft</button>
									<button type="submit" class="btn btn-danger btn-labeled fa fa-times">Cancel</button>{/*}	

								</div>
							</div>
						</div>
						<!--===================================================-->
						<!-- END COMPOSE EMAIL -->
					
		
					</form>
	
				</div>
			
			</div>
	
		</div> <!-- end row -->
		
	</div>
	<!--===================================================-->
	<!--End page content-->
				
{literal}
<script>
	$(window).on('load', function() {
			// Row Toggler
			// -----------------------------------------------------------------
			$('#demo-foo-row-toggler').footable();
		});
// BOOTBOX - BOUNCE IN/OUT ANIMATION
	// =================================================================
	// Require Bootbox
	// http://bootboxjs.com/
	//
	// Animate.css
	// http://daneden.github.io/animate.css/
	// =================================================================
	$('#demo-bootbox-bounce').on('click', function(){
		bootbox.confirm({
			message : "<p>Hari & Tanggal : Rabu, 12 Agustus 2015 <br> <br> Kepada Yth :Kepala Pusat Informasi dan Dokumentasi Standardisasi BSN<br>Perihal:Penyelesaian masalah pengiriman dokumen SNI <br> sifat : SEGERA <br> Tindakan : Untuk Ditindaklanjuti <br> Catatan : <br> Mohon untuk menindaklanjuti permasalahan ini sebelum akhir bulan. <br><br> Terima kasih</p>",
			
			callback : function(result) {
				//Callback function here
			},
			animateIn: 'bounceIn',
			animateOut : 'bounceOut'
		});
	});
	
	$(document).on('ready', function() {
		if ($('#demo-mail-compose').length) {
			// SUMMERNOTE
			// =================================================================
			// Require Summernote
			// http://hackerwins.github.io/summernote/
			// =================================================================
			$('#demo-mail-compose').summernote({
				height:200
			});
		
		
			// Attachment button.
			// =================================================================
			var size = new Array();
			$('.btn-file :file').on('fileselect', function(event, numFiles, label, fileSize) {
				size.push(fileSize);
				$('#demo-attach-file').html('<strong class="box-block text-capitalize"><i class="fa fa-paperclip fa-fw"></i> '+label+'</strong><small class="text-muted">'+size[0]+'</small>');

			});
			
			return;
		}
	});
	
	$('#demo-msk-ssn').mask('999-99-9999');
</script>
{/literal}		