<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Detail Laporan Pengaduan</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

	<!--Page content-->
	<!--===================================================-->
	<div id="page-content">
	
		<div class="row">
			<div class="col-md-3">
				
				<div class="list-group bg-trans">
					<h4 class="text-thin">Laporan Pengaduan</h4>
						<a href="{$basedomain}daftar_pengaduan/detail" class="list-group-item list-item-sm">
						<span class="badge badge-purple badge-icon badge-fw pull-left"></span>
						Isi Laporan Pengaduan
						</a>
				</div>
					<hr>
					<div class="list-group bg-trans">
						<h4 class="text-thin">Penanganan Laporan Pengaduan</h4>
					
						<!-- Menu list item -->
						<a href="{$basedomain}daftar_pengaduan/tindak_lanjut" class="list-group-item list-item-sm">
							<span class="badge badge-purple badge-icon badge-fw pull-left"></span>
							Tindak Lanjut Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/penelusuran" class="list-group-item list-item-sm"style="background-color:rgba(125,211,188,0.5);">
							<span class="badge badge-info badge-icon badge-fw pull-left"></span>
							Penelusuran Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/penelaahan" class="list-group-item list-item-sm">
							<span class="badge badge-pink badge-icon badge-fw pull-left"></span>
							Penelaahan Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/balas" class="list-group-item list-item-sm">
							<span class="badge badge-success badge-icon badge-fw pull-left"></span>
							Balas Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/disposisi" class="list-group-item list-item-sm">
							<span class="badge badge-danger badge-icon badge-fw pull-left"></span>
							Disposisi Laporan
						</a>
					</div>
			</div>
			
			<div class="col-md-9">
				
				<div class="panel panel-default panel-left">
					<div class="panel-body">
					
						<div class="timeline">
							<div class="timeline-entry">
								<div class="timeline-stat">
									<div class="timeline-icon bg-info"><i class="fa fa-check fa-lg"></i>
									</div>
								</div>
								<div class="timeline-label">
									<p class="mar-no pad-btm">Kamis, 09 Juli 2015 15:00</p>
									<p><strong>Laporan pengaduan telah selesai</strong></p>
								</div>
							</div>
							
							<div class="timeline-entry">
								<div class="timeline-stat">
									<div class="timeline-icon bg-success"><i class="fa fa-circle fa-lg"></i>
									</div>
								</div>
								<div class="timeline-label">
									<p class="mar-no pad-btm">Kamis, 09 Juli 2015 15:00</p>
									<p><strong>Inspektorat melakukan pengarsipan dokumentasi pelaporan</strong></p>
								</div>
							</div>
							
							<div class="timeline-entry">
								<div class="timeline-stat">
									<div class="timeline-icon bg-danger"><i class="fa fa-exclamation fa-lg"></i>
									</div>
								</div>
								<div class="timeline-label">
									<p class="mar-no pad-btm">Kamis, 09 Juli 2015 15:00</p>
									<p><strong>Inspektorat telah melaporkan hasil pengaduan ke pelapor</strong></p>
								</div>
							</div>
							<div class="timeline-entry">
								<div class="timeline-stat">
									<div class="timeline-icon bg-success"><i class="fa fa-circle fa-lg"></i>
									</div>
								</div>
								<div class="timeline-label">
									<p class="mar-no pad-btm">Kamis, 09 Juli 2015 15:00</p>
									<p><strong>Inspektorat sedang melakukan proses tindak lanjut</strong></p>
								</div>
							</div>
							
							<div class="timeline-entry">
								<div class="timeline-stat">
									<div class="timeline-icon bg-success"><i class="fa fa-circle fa-lg"></i>
									</div>
								</div>
								<div class="timeline-label">
									<p class="mar-no pad-btm">Kamis, 09 Juli 2015 15:00</p>
									<p><strong>Inspektorat sedang melakukan penyaluran pengaduan ke pihak terkait</strong></p>
								</div>
							</div>
							<div class="timeline-entry">
								<div class="timeline-stat">
									<div class="timeline-icon bg-success"><i class="fa fa-circle fa-lg"></i>
									</div>
								</div>
								<div class="timeline-label">
									<p class="mar-no pad-btm">Kamis, 09 Juli 2015 15:00</p>
									<p><strong>Sistem pengaduan masyarakan sudah melakukan pencatatan pengaduan</strong></p>
								</div>
							</div>
						</div> <!-- end timeline-->
							
					</div>
				</div>
			</div>
				
			
		</div><!-- end row -->
	
		</div> 
		
	<!--===================================================-->
	<!--End page content-->
				
		