<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Penelusuran Laporan</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

	<!--Page content-->
	<!--===================================================-->
	<div id="page-content">
	
		<div class="row">
			<div class="col-md-3">
				
				<div class="list-group bg-trans">
					<h4 class="text-thin">Laporan Pengaduan</h4>
						<a href="{$basedomain}daftar_pengaduan/detail/?id={$id}" class="list-group-item list-item-sm">
						<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
						Isi Laporan Pengaduan
						</a>
				</div>
					<hr>
					<div class="list-group bg-trans">
						<h4 class="text-thin">Penanganan Laporan Pengaduan</h4>
					
						<!-- Menu list item -->
						<a href="{$basedomain}daftar_pengaduan/penelaahan/?id={$id}" class="list-group-item list-item-sm">
							<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
							Penelaahan Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/disposisi/?id={$id}" class="list-group-item list-item-sm">
							<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
							Distribusi Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/balas/?id={$id}" class="list-group-item list-item-sm">
							<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
							Balas Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/tindak_lanjut/?id={$id}" class="list-group-item list-item-sm">
							<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
							Tindak Lanjut Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/penelusuran/?id={$id}" class="list-group-item list-item-sm"style="background-color:rgba(125,211,188,0.5);">
							<span class="badge badge-success badge-icon badge-fw pull-left"></span>
							Penelusuran Laporan
						</a>
					</div>
			</div>
			
			<div class="col-md-9">
				
				<div class="panel panel-success panel-left">
					<div class="panel-heading">
						<h3 class="panel-title"><strong>{$dataPengaduan.judul}</strong></h3>
					</div>
					<div class="panel-body">
						<div class="timeline">
						{if 3 lte $dataPengaduan.fase}					
						
							<div class="timeline-entry">
								<div class="timeline-stat">
									<div class="timeline-icon bg-success"><i class="fa fa-check fa-lg"></i>
									</div>
								</div>
								<div class="timeline-label">
									<p class="mar-no pad-btm">{$tglBalas.tanggalformat}</p>
									<p><strong>Inspektorat sedang melakukan proses tindak lanjut</strong></p>
								</div>
							</div>
						{/if}

						{if 2 lte $dataPengaduan.fase}					
						
							<div class="timeline-entry">
								<div class="timeline-stat">
									<div class="timeline-icon bg-success"><i class="fa fa-check fa-lg"></i>
									</div>
								</div>
								<div class="timeline-label">
									<p class="mar-no pad-btm">{$penelaahan.tanggalstd}</p>
									<p><strong>Inspektorat sedang melakukan penelaahan pengaduan</strong></p>
								</div>
							</div>
						{/if}

						{if 1 lte $dataPengaduan.fase}					
							<div class="timeline-entry">
								<div class="timeline-stat">
									<div class="timeline-icon bg-success"><i class="fa fa-check fa-lg"></i>
									</div>
								</div>
								<div class="timeline-label">
									<p class="mar-no pad-btm">{$dataPengaduan.tanggalformat}</p>
									<p><strong>Laporan sudah masuk ke dalam database sistem</strong></p>
								</div>
							</div>
						
						{/if}
						</div> <!-- end timeline-->
					</div>
						
				</div>
			</div>
				
			
		</div><!-- end row -->
	
		</div> 
		
	<!--===================================================-->
	<!--End page content-->
				
		