<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Detail Laporan Pengaduan</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

	<!--Page content-->
	<!--===================================================-->
	<div id="page-content">
	
		<div class="row">
			<div class="col-md-3">
				
				<div class="list-group bg-trans">
					<h4 class="text-thin">Laporan Pengaduan</h4>
						<a href="{$basedomain}daftar_pengaduan/detail" class="list-group-item list-item-sm">
						<span class="badge badge-purple badge-icon badge-fw pull-left"></span>
						Isi Laporan Pengaduan
						</a>
				</div>
					<hr>
					<div class="list-group bg-trans">
						<h4 class="text-thin">Penanganan Laporan Pengaduan</h4>
					
						<!-- Menu list item -->
						<a href="{$basedomain}daftar_pengaduan/tindak_lanjut" class="list-group-item list-item-sm" style="background-color:rgba(125,211,188,0.5);">
							<span class="badge badge-purple badge-icon badge-fw pull-left"></span>
							Tindak Lanjut Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/penelusuran" class="list-group-item list-item-sm">
							<span class="badge badge-info badge-icon badge-fw pull-left"></span>
							Penelusuran Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/penelaahan" class="list-group-item list-item-sm">
							<span class="badge badge-pink badge-icon badge-fw pull-left"></span>
							Penelaahan Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/balas" class="list-group-item list-item-sm">
							<span class="badge badge-success badge-icon badge-fw pull-left"></span>
							Balas Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/disposisi" class="list-group-item list-item-sm">
							<span class="badge badge-danger badge-icon badge-fw pull-left"></span>
							Disposisi Laporan
						</a>
					</div>
			</div>
			
			<div class="col-md-9">
				<div class="panel panel-default panel-left">
					<div class="panel-body">
					
						<div class="media-block pad-all">
							<a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="{$basedomain}images/ava/av1.png"></a>
							<div class="media-body">
								<div class="row">
										<div class="col-md-7">
											<a class="btn-link text-semibold media-heading box-inline">Inspektorat</a>
											<p>Status laporan: Ditindaklanjuti Berkadar Pengawasan</p>
										</div>
										<div class="col-md-4">
											<p>Kamis, 9 Juli 2015 14:25</p>
											<select class="selectpicker">
												<option>Publish</option>
												<option>Non-Publish</option>
											</select>
										</div>
								</div>
									<p>Kepada:<br>Yth. Ariana<br><br>Terima kasih sudah menyampaikan permasalahan ini ke BSN, kami akan segera melakukan 
									penyelidikan guna menyelesaikan permasalahan ini. gdgedfgf dgyefyef egfyuegwfygef defgeygfyegw <br><br>Terima kasih</p>
								<hr>	
							</div>
						</div>
						
						<div class="media-block pad-all">
							<a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="{$basedomain}images/ava/av1.png"></a>
							<div class="media-body">
								<div class="row">
										<div class="col-md-7">
											<a class="btn-link text-semibold media-heading box-inline">Inspektorat</a>
											<p>Inspektorat melakukan disposisi laporan ke Satuan Unit Kerja Pusida</P>
										</div>
										<div class="col-md-4">
											<select class="selectpicker">
												<option>Publish</option>
												<option>Non-Publish</option>
											</select>
										</div>
								</div>
								<hr>	
							</div>
						</div>
					
						<div class="media-block pad-all">
							<a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="{$basedomain}images/ava/av1.png"></a>
							<div class="media-body">
								<div class="row">
										<div class="col-md-7">
											<a class="btn-link text-semibold media-heading box-inline">Inspektorat</a>
											<p>Inspektorat melakukan disposisi laporan ke Satuan Unit Kerja Pusdikmas</p>
										</div>
										<div class="col-md-4">
											<select class="selectpicker">
												<option>Publish</option>
												<option>Non-Publish</option>
											</select>
										</div>
								</div>
								<hr>
								
							
			
								<!-- Comments -->
								<div>
									<div class="media-block">
										<a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="{$basedomain}images/ava/av4.png"></a>
										<div class="media-body">
											<div class="row">
													<div class="col-md-7">
														<a class="btn-link text-semibold media-heading box-inline">Nila</a>
													</div>
													<div class="col-md-4">
														<p>Kamis, 9 Juli 2015 14:25</p>
														<select class="selectpicker">
															<option>Publish</option>
															<option>Non-Publish</option>
														</select>
													</div>
											</div>
												<p>Yth. BSN<br><br>Terima kasih atas responnya, namun saya menemukan kejanggalan baru kemarin. 
												File terlampir mohon bantuannya untuk masalah ini. <br><br>Terima kasih</p>
												
												<!-- Attach Files-->
												<!--===================================================-->
												<div class="pad-ver">
													<h4><i class="fa fa-paperclip fa-fw"></i> Attachments <span>(2)</span></h4>
						
													<ul class="mail-attach-list list-ov">
														<li class=" clearfix">
						
															<!--Download button-->
															<div class="mail-attach-btn"><a href="#" class="btn btn-purple btn-sm">Download</a></div>
						
															<!--File information-->
															<div class="mail-attach-file">
																<span class="mail-attach-label">
																	<span class="label label-info text-uppercase">Images</span>
																</span>
																<div class="media-body">
																	<div class="text-bold"><a href="#">IMG_007.jpg</a></div>
																	<small class="text-muted">(15 KB)</small>
																</div>
															</div>
														</li>
														<li class="clearfix">
						
															<!--Download button-->
															<div class="mail-attach-btn"><a href="#" class="btn btn-purple btn-sm">Download</a></div>
						
															<!--File information-->
															<div class="mail-attach-file">
																<span class="mail-attach-label">
																	<span class="label label-warning  text-uppercase">Video</span>
																</span>
																<div class="media-body">
																	<div class="text-bold"><a href="#">VID_007.mp4</a></div>
																	<small class="text-muted">(178 MB)</small>
																</div>
															</div>
														</li>
														<li class="clearfix">
														<p><a class="btn-link" href="#"><h4><u> Download All Attachment</u> </h4> </a></p>
														</li>
													</ul>
												</div>
											
										</div>
									</div>
								</div>
							</div>
						</div> <!-- end media block-->
	
						<div class="panel-body text-center">
			
							<!--Pagination with disabled and active states-->
							<!--===================================================-->
							<ul class="pagination">
								<li class="disabled"><a href="#" class="fa fa-angle-double-left"></a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><span>...</span></li>
								<li><a href="#">20</a></li>
								<li><a href="#" class="fa fa-angle-double-right"></a></li>
							</ul>
							<!--===================================================-->
							<!--End Pagination with disabled and active states-->
			
						</div>
						
					</div>
				
				</div>	
			
			</div>
	
		</div> <!-- end row -->
		
	</div>
	<!--===================================================-->
	<!--End page content-->
				
		