<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
	<h1 class="page-header text-overflow">Tindak Lanjut Laporan</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

	<!--Page content-->
	<!--===================================================-->
	<div id="page-content">
	
		<div class="row">
			<div class="col-md-3">
				
				<div class="list-group bg-trans">
					<h4 class="text-thin">Laporan Pengaduan</h4>
						<a href="{$basedomain}daftar_pengaduan/detail/?id={$id}" class="list-group-item list-item-sm">
						<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
						Isi Laporan Pengaduan
						</a>
				</div>
					<hr>
					<div class="list-group bg-trans">
						<h4 class="text-thin">Penanganan Laporan Pengaduan</h4>
					
						<!-- Menu list item -->
						<a href="{$basedomain}daftar_pengaduan/penelaahan/?id={$id}" class="list-group-item list-item-sm">
							<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
							Penelaahan Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/disposisi/?id={$id}" class="list-group-item list-item-sm">
							<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
							Distribusi Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/balas/?id={$id}" class="list-group-item list-item-sm">
							<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
							Balas Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/tindak_lanjut/?id={$id}" class="list-group-item list-item-sm" style="background-color:rgba(125,211,188,0.5);">
							<span class="badge badge-success badge-icon badge-fw pull-left"></span>
							Tindak Lanjut Laporan
						</a>
						<a href="{$basedomain}daftar_pengaduan/penelusuran/?id={$id}" class="list-group-item list-item-sm">
							<span class="badge badge-dark badge-icon badge-fw pull-left"></span>
							Penelusuran Laporan
						</a>
					</div>
			</div>
			
			<div class="col-md-9">
				<div class="panel panel-default panel-left">
					<div class="panel-body">
						{foreach $dataComment as $val}
						<div class="media-block pad-all">
							<a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="{$basedomain}images/ava/av{if $val.typeUser eq '1'}1{else}2{/if}.png"></a>
							<div class="media-body">
								<div class="row">
										<div class="col-md-7">
											<a class="btn-link text-semibold media-heading box-inline">{$val.nameUser}</a>
											{*}<p>Status laporan: {$dataPengaduan.status} Berkadar Pengawasan</p>{/*}
											<p>{$val.tanggalstd}</p>
										</div>
										<div class="col-md-4">
											{*}<select class="selectpicker">
												<option>Publish</option>
												<option>Non-Publish</option>
											</select>{/*}
										</div>
								</div>
									{$val.isi}
									<!-- Attach Files-->
									<!--===================================================-->
									<div class="pad-ver">
										<h4><i class="fa fa-paperclip fa-fw"></i> Attachments </h4>
			
										<ul class="mail-attach-list list-ov">
											
											{foreach $val.files as $file}
											<li class=" clearfix">
			
												<!--Download button-->
												<div class="mail-attach-btn"><a href="{$basedomain}public_assets/{$file.nama}" class="btn btn-purple btn-sm">Download</a></div>
			
												<!--File information-->
												<div class="mail-attach-file">
													<span class="mail-attach-label">
														<span class="label label-info text-uppercase">File</span>
													</span>
													<div class="media-body">
														<div class="text-bold"><a href="{$basedomain}public_assets/{$file.nama}">{$file.nama}</a></div>
														{*}<small class="text-muted">(15 KB)</small>{/*}
													</div>
												</div>
											</li>
											{/foreach}
											{*}<li class="clearfix">
											<p><a class="btn-link" href="#"><h4><u> Download All Attachment</u> </h4> </a></p>
											</li>{/*}
										</ul>
									</div>
								<hr>	
							</div>
						</div>
						{/foreach}
	
						{*}<div class="panel-body text-center">
			
							<!--Pagination with disabled and active states-->
							<!--===================================================-->
							<ul class="pagination">
								<li class="disabled"><a href="#" class="fa fa-angle-double-left"></a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><span>...</span></li>
								<li><a href="#">20</a></li>
								<li><a href="#" class="fa fa-angle-double-right"></a></li>
							</ul>
							<!--===================================================-->
							<!--End Pagination with disabled and active states-->
			
						</div>{/*}
						
					</div>
				
				</div>	
			
			</div>
	
		</div> <!-- end row -->
		
	</div>
	<!--===================================================-->
	<!--End page content-->
				
		