<section class="page-header">
	<div class="container">

		<h1>Laporan Pengaduan</h1>
		<span class="font-lato size-18 weight-300 hidden-xs">Detail laporan</span>

		<!-- breadcrumbs -->
		<ol class="breadcrumb">
			<li><a href="{$basedomain}">Home</a></li>
			<li class="active">Laporan Pengaduan</li>
		</ol><!-- /breadcrumbs -->

	</div>
</section>

<section>
	<div class="container">
		<div class="row">

			<div class="col-md-8 col-sm-8">
				<form class="nomargin sky-form boxed" action="#" method="post" id="myForm">
					<header>
						<i class="fa fa-file-text"></i> Isi Laporan
						</header>

					<fieldset class="nomargin">	
						<p>
						Yth. PT Angkasa Pura,<br>
						Yth. Garuda Indonesia,<br>
						Yth. Kementerian perhubungan<br>
						<br>
						Saya ditagih pajak bandara di Bandara Soekarno Hatta Jakarta dan Bandara Supadio Pontianak,
						padahal tiket yang saya beli (Garuda Indonesia) sudah termasuk pajak.
						</p>
						<p>
						Tagihan pajak bandara Soekarno - Hatta Jakarta = saya lupa presisinya, antara Rp. 30.000 - 
						Rp. 40.000,-<br>
						Flight GA500 Jakarta-Pontianak pkl. 05.20. Saya melakukan check in sekitar pukul 04.30 WIB di konter check in Garuda Indonesia.
						</p>
						<div class="row tab-post">
	                        <div class="col-md-12 col-sm-9 col-xs-9">
								<a href="#" class="tab-post-link"><strong>Lampiran Data Pendukung :</strong></a>
								<a href="#" class="tab-post-link"><small>xxx.docx</small></a>
								<a href="#" class="tab-post-link"><small>xxx.docx</small></a>
								<a href="#" class="tab-post-link"><small>xxx.docx</small></a>
							</div>
						</div>
					</fieldset>

					<div class="row margin-bottom-20">
						<div class="col-md-12">
							<button type="submit" class="btn btn-primary" id="buttonsubmit"><i class="fa fa-download"></i> Download semua attachment</button>
						</div>
					</div>

				</form>

				<section>
					
						<ul class="nav nav-tabs nav-top-border">
							<li class="active"><a href="#tindaklanjut" data-toggle="tab">Tindak Lanjut Laporan</a></li>
							<li><a href="#penelusuran" data-toggle="tab">Penelusuran Laporan</a></li>
							<li><a href="#survey" data-toggle="tab">Survey Kepuasan Masyarakat</a></li>
							
						</ul>

						<div class="tab-content">
							<div class="tab-pane fade in active" id="tindaklanjut">
								<!-- COMMENT -->
								<ul class="comment list-unstyled">
									<li class="comment">

										<!-- avatar -->
										<img class="avatar" src="{$basedomain}assets/images/avatar2.jpg" width="50" height="50" alt="avatar" />

										<!-- comment body -->
										<div class="comment-body"> 
											<a href="#" class="comment-author">
												<small class="text-muted pull-right"> Kamis, 09 juli 2015 14:25 WIB </small>
												<span>Inspektorat</span>
											</a>
											<p>
												Kepada.<br>
												Yth. Pelanggan Setia Garuda Indonesia<br>
												<br>
												Terkait laporan yang Bapak / Ibu sampaikan mengenai pemungutan airport tax pada penerbangan Bapak / Ibu dengan GA500 Jakarta - Pontianak dan GA511 Pontianak-Jakarta, perkenankan kami untuk melakukan pengecekan dengan unit terkait.  
											</p>
										</div><!-- /comment body -->

										<!-- options -->
										<ul class="list-inline size-11 margin-top-10">
											<li>
												&nbsp;
											</li>
											<li class="pull-right">
												<a href="#" class="text-danger">Hapus</a>
											</li>
											<li class="pull-right">
												<a href="#" class="text-primary">Ubah</a>
											</li>
										</ul><!-- option -->

									</li><!-- /options -->

								</ul><!-- /COMMENT -->

								<!-- COMMENT -->
								<ul class="comment list-unstyled">
									<li class="comment">

										<!-- avatar -->
										<img class="avatar" src="{$basedomain}assets/images/avatar2.jpg" width="50" height="50" alt="avatar" />

										<!-- comment body -->
										<div class="comment-body"> 
											<a href="#" class="comment-author">
												<small class="text-muted pull-right"> Kamis, 09 juli 2015 14:25 WIB </small>
												<span>Inspektorat</span>
											</a>
											<p>
												Kepada.<br>
												Yth. Pelanggan Setia Garuda Indonesia<br>
												<br>
												Terkait laporan yang Bapak / Ibu sampaikan mengenai pemungutan airport tax pada penerbangan Bapak / Ibu dengan GA500 Jakarta - Pontianak dan GA511 Pontianak-Jakarta, perkenankan kami untuk melakukan pengecekan dengan unit terkait.  
											</p>
										</div><!-- /comment body -->

										<!-- options -->
										<ul class="list-inline size-11 margin-top-10">
											<li>
												&nbsp;
											</li>
											<li class="pull-right">
												<a href="#" class="text-danger">Hapus</a>
											</li>
											<li class="pull-right">
												<a href="#" class="text-primary">Ubah</a>
											</li>
										</ul>
									</li><!-- /options -->

								</ul>
								<!-- /COMMENT -->


								<form method="post" action="#" class="box-light margin-top-20"><!-- .box-light OR .box-dark -->
									<div class="box-inner">
										<h4 class="uppercase">Kirim Balasan</h4>
											
										<input class="custom-file-upload" type="file" id="file" name="contact[attachment]" id="contact:attachment" data-btn-text="Attachment" />
										<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>


										<textarea required class="form-control word-count" data-maxlength="200" rows="5" placeholder="Tulis pesan anda di sini..."></textarea>
										<div class="text-muted text-right margin-top-3 size-12 margin-bottom-10">
											<span>0/200</span> Words
										</div>

										<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> KIRIM PESAN</button>

									</div>
								</form>
							</div>
							<div class="tab-pane fade" id="penelusuran">
								<div class="timeline"><!-- .timeline-inverse = right position [left on RTL] -->

										<!-- ITEM -->
										<div class="timeline-item timeline-item-bordered" style="min-height:80px">
											<!-- timeline entry -->
											<div class="timeline-entry rounded" style="line-height:normal"><!-- .rounded = entry -->
												<i class="fa fa-circle-o fa-lg"></i>
												<div class="timeline-vline"><!-- vertical line --></div>
											</div>
											<!-- /timeline entry -->

											<small>Kamis, 09 Juli 2015 14:25 WIB</small>
											<h4 class="uppercase" style="margin:0 0 0 0">Laporan Anda sudah selesai</h4>
											

										</div>
										<!-- /ITEM -->

										<!-- ITEM -->
										<div class="timeline-item timeline-item-bordered" style="min-height:80px">
											<!-- timeline entry -->
											<div class="timeline-entry rounded" style="line-height:normal"><!-- .rounded = entry -->
												<i class="fa fa-check fa-lg"></i>
												<div class="timeline-vline"><!-- vertical line --></div>
											</div>
											<!-- /timeline entry -->

											<small>Kamis, 09 Juli 2015 14:25 WIB</small>
											<h4 class="uppercase" style="margin:0 0 0 0">Laporan Anda sedang memasuki proses penyelesaian</h4>
											<p>Waktu yang dibutuhkan : 14 hari kerja</p>

										</div>
										<!-- /ITEM -->

										<!-- ITEM -->
										<div class="timeline-item timeline-item-bordered" style="min-height:80px">
											<!-- timeline entry -->
											<div class="timeline-entry rounded" style="line-height:normal"><!-- .rounded = entry -->
												<i class="fa fa-check fa-lg"></i>
												<div class="timeline-vline"><!-- vertical line --></div>
											</div>
											<!-- /timeline entry -->

											<small>Kamis, 09 Juli 2015 14:25 WIB</small>
											<h4 class="uppercase" style="margin:0 0 0 0">Laporan Anda sedang memasuki proses penelaahan pengaduan yang dilakukan oleh Inspektorat BSN</h4>
											<p>Waktu yang dibutuhkan : 14 hari kerja</p>

										</div>
										<!-- /ITEM -->
								
								</div>
							</div>
							<div class="tab-pane fade" id="survey">
								<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p>
							</div>
							
						</div>
					
				</section>


			</div>

			<div class="col-md-4 col-sm-4">
				<form action="{$basedomain}" method="post" class="sky-form boxed">
                    <header><i class="fa fa-info"></i> Informasi Laporan</header>
                    
                    <fieldset class="nomargin"> 
                       <div class="row tab-post">
	                        <div class="col-md-12 col-sm-9 col-xs-9">
								<small>ID Laporan : 5623333</small>
								<small>Nama Panggilan : Nila</small>
								<small>Nama Lengkap : Nila Yantrisiana P</small>
								<small>Ruang Lingkup Laporan : Kepegawaian - Kepangkatan</small>
								<small>Satuan Unit Kerja Terkait : Pusat Informasi dan Dokumentasi</small>
								<small>Pejabat Terkait : -</small>
								<small>Status Laporan : Ditindaklanjuti berkadar pengawasan</small>
							</div>
						</div>

                    </fieldset>

                </form>

                <form action="{$basedomain}" method="post" class="sky-form boxed">
                    <header><i class="fa fa-user"></i> Informasi Terlapor</header>
                    
                    <fieldset class="nomargin"> 
                       <div class="row tab-post">
	                        <div class="col-md-12 col-sm-9 col-xs-9">
								<small>Nama Terlapor : Billy</small>
								<small>Alamat : Pasanggrahan Jakarta Selatan</small>
								<small>Jabatan : Kepala Sub Bidang IT</small>
								<small>Unit Kerja : PUSIDO</small>
								<small>Lokasi Kasus : Gedung BPPT 1 Jakarta</small>
							</div>
						</div>

                    </fieldset>

                </form>

                <form action="{$basedomain}" method="post" class="sky-form boxed">
                    <header><i class="fa fa-search"></i> Tracking ID Laporan Anda</header>
                    
                    <fieldset class="nomargin"> 
                        <p>Temukan status terakhir laporan anda dengan memasukkan 6 digit ID Laporan atau masukkan alamat email anda.</p>
                        <label class="input">
                            <i class="ico-append fa fa-envelope"></i>
                            <input type="text" name="username">
                            <span class="tooltip tooltip-top-right">Email atau ID laporan</span>
                        </label>

                    </fieldset>

                    <footer class="celarfix">
                        <button type="submit" class="btn btn-primary noradius pull-right"><i class="fa fa-check"></i> Lacak</button>
                        <input type="hidden" name="token" value="1"/>
                        <div class="login-forgot-password pull-left">
                            
                        </div>
                    </footer>
                </form>

                <form action="{$basedomain}" method="post" class="sky-form boxed">
                    <header><i class="fa fa-tags"></i> Daftar Pengaduan Anda</header>
                    
                    <fieldset class="nomargin"> 
                    	<div class="row tab-post">
	                        <div class="col-md-12 col-sm-9 col-xs-9">
								<a href="{$basedomain}pengaduan/detail" class="tab-post-link"><strong>Bagaimana penjelasan untuk SNI Pembalut Wanita ?</strong></a>
								<small>Rabu, 08 Juli 2015 14:25 WIB</small>
								<small>ID Laporan : 5623333</small>
								<small>Status Laporan : Aktif</small>
							</div>
						</div>

						<div class="row tab-post">
	                        <div class="col-md-12 col-sm-9 col-xs-9">
								<a href="#" class="tab-post-link"><strong>Bagaimana penjelasan untuk SNI Pembalut Wanita ?</strong></a>
								<small>Rabu, 08 Juli 2015 14:25 WIB</small>
								<small>ID Laporan : 5623333</small>
								<small>Status Laporan : Aktif</small>
							</div>
						</div>

						<div class="row tab-post">
	                        <div class="col-md-12 col-sm-9 col-xs-9">
								<a href="#" class="tab-post-link"><strong>Bagaimana penjelasan untuk SNI Pembalut Wanita ?</strong></a>
								<small>Rabu, 08 Juli 2015 14:25 WIB</small>
								<small>ID Laporan : 5623333</small>
								<small>Status Laporan : Aktif</small>
							</div>
						</div>

						<div class="row tab-post">
	                        <div class="col-md-12 col-sm-9 col-xs-9">
								<a href="#" class="tab-post-link"><strong>Bagaimana penjelasan untuk SNI Pembalut Wanita ?</strong></a>
								<small>Rabu, 08 Juli 2015 14:25 WIB</small>
								<small>ID Laporan : 5623333</small>
								<small>Status Laporan : Aktif</small>
							</div>
						</div>

                    </fieldset>

                </form>
			</div>

		</div>
	</div>
</section>

{literal}
<script type="text/javascript">
	function submitForm()
	{
		var atLeastOneIsChecked = $('input[name="termagree"]:checked').length > 0;
		
		if(atLeastOneIsChecked){
			$("#buttonsubmit").removeAttr('disabled');
			
		} else {
			$("#buttonsubmit").attr('disabled','disabled');
			
		}
	}

	function personal()
	{
		var atLeastOneIsChecked = $('input[name="perorangan"]:checked').length > 0;
		
		if(atLeastOneIsChecked){
			$(".personal").removeAttr('disabled');
			
		} else {
			$(".personal").val('');
			$(".personal").attr('disabled','disabled');
			
		}
	}
</script>
{/literal}