
<html>
    <body>
        <div style="min-width:420px;max-width:600px;background-color:#eeeeee">
            <table width="100%" style="padding:20px 20px 20px 20px">
                <tbody>
                    <tr>
                        <td style="background-color:#ffffff;padding:10px 10px 10px 10px">
                            <table width="100%">
                                <tbody>
                                    <tr>
                                        <td align="center" valign="top">
                                            <img src="{$basedomain}assets/images/bsni.png" width="30%">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top"><h3 style="font-family:Arial;font-weight:normal;font-size:20px;color:#281870;line-height:32px">Badan Standardisasi Nasional</h3></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:Arial;font-weight:normal;font-size:16px;color:#424242;line-height:19px">Hallo {$name},</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:Arial;font-weight:normal;font-size:16px;color:#424242;line-height:19px">Terdapat balasan mengenai laporan pengaduan ke unit kerja Anda. Detil laporan sebagai berikut :</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div style="margin-left:30px;margin-bottom:10px">
                                                <span style="font-family:Arial;font-weight:normal;font-size:16px;color:#424242;line-height:19px;margin-left:10px">Judul : {$judul}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div style="margin-left:30px;margin-bottom:10px">
                                                <span style="font-family:Arial;font-weight:normal;font-size:16px;color:#424242;line-height:19px;margin-left:10px">Tanggal Laporan : {$tanggal}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div style="margin-left:30px;margin-bottom:10px">
                                                <span style="font-family:Arial;font-weight:normal;font-size:16px;color:#424242;line-height:19px;margin-left:10px">ID Laporan : {$idLaporan}</span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <p style="font-family:Arial;font-weight:normal;font-size:16px;color:#424242;line-height:19px">Silahkan klik link di bawah ini untuk melihat isi laporan pengaduan.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div style="margin-left:30px">
                                                <a target="_blank" style="font-family:Arial;font-weight:normal;font-size:16px;color:#ffffff;text-decoration:none;white-space:nowrap;border-radius:3px;display:inline-block;text-align:center;padding-top:11px;padding-right:13px;padding-bottom:9px;padding-left:14px;background-color:#8AB933" href="{$basedomain}admin/daftar_pengaduan/detail/?id={$id}">Tracking Laporan</a>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-family:Arial;font-weight:normal;font-size:16px;color:#424242;line-height:19px">Hormat Kami,<br>Badan Standardisasi Nasional</p>
                                        </td>
                                    </tr>
                                </tbody>
                             </table>   
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
