<section class="page-header">
	<div class="container">

		<h1>Lapor Pengaduan</h1>
		<span class="font-lato size-18 weight-300 hidden-xs">Form pengaduan</span>

		<!-- breadcrumbs -->
		<ol class="breadcrumb">
			<li><a href="{$basedomain}">Home</a></li>
			<li class="active">Lapor Pengaduan</li>
		</ol><!-- /breadcrumbs -->

	</div>
</section>

<section>
	<div class="container">
		<div class="row">

			<div class="col-md-8 col-sm-8">
				<form class="nomargin sky-form boxed" action="{$basedomain}pengaduan/ins_laporan" method="post" id="myForm" enctype="multipart/form-data">
					<header>
						<i class="fa fa-file-text"></i> Lapor Pengaduan
						</header>

					<fieldset class="nomargin">	
						<label class="input margin-bottom-10">
							<i class="ico-append">ID</i>
							<input type="text" placeholder="ID Laporan (Akan terisi otomatis oleh sistem)" disabled>
							<b class="tooltip tooltip-bottom-right">Akan terisi otomatis oleh sistem</b>
						</label>

						<label class="input margin-bottom-10">
							<i class="ico-append fa fa-calendar"></i>
							<input type="text" name="tanggal" class="form-control datepicker" data-format="yyyy-mm-dd" data-lang="en" data-RTL="false" placeholder="Tanggal melakukan laporan" required>
							<b class="tooltip tooltip-bottom-right">Tanggal Laporan</b>
						</label>

						<label class="input margin-bottom-10">
							<i class="ico-append fa fa-file"></i>
							<input type="text" name="judul" placeholder="Judul Laporan" required>
							<b class="tooltip tooltip-bottom-right">Judul pengaduan yang ingin anda laporkan</b>
						</label>

						<div class="fancy-form margin-bottom-20"><!-- textarea -->
							<textarea class="summernote form-control" name="isi" data-height="200" data-lang="en-US"></textarea>
						</div><!-- /textarea -->
						<hr>
						<div class="fancy-form margin-bottom-10">
							<label class="checkbox nomargin"><input class="checked-agree" type="checkbox" name="perorangan" id="perorangan" onclick="return personal()"><i></i>Pengaduan Terkait dengan Masalah Perorangan</label>
						</div>

						<label class="input margin-bottom-10">
							<i class="ico-append fa fa-user"></i>
							<input type="text" name="nama" placeholder="Nama / NIP Terlapor" disabled class="personal">
							<b class="tooltip tooltip-bottom-right">Nama pihak yang terkait dengan laporan anda</b>
						</label>

						<div class="fancy-form margin-bottom-10"><!-- textarea -->
							<textarea rows="5" name="alamat" class="form-control word-count personal" data-maxlength="200" data-info="textarea-words-info" placeholder="Alamat" disabled></textarea>
							<i class="fa fa-map-marker"><!-- icon --></i>
							<span class="fancy-hint size-11 text-muted">
								<strong>Hint:</strong> 200 words allowed!
								<span class="pull-right">
									<span id="textarea-words-info">0/200</span> Words
								</span>
							</span>
						</div><!-- /textarea -->

						<label class="input margin-bottom-10">
							<i class="ico-append fa fa-user"></i>
							<input type="text" placeholder="Jabatan" name="jabatan" class="personal" disabled>
							<b class="tooltip tooltip-bottom-right">Jabatan pihak yang terkait dengan laporan anda</b>
						</label>

						<label class="input margin-bottom-10">
							<i class="ico-append fa fa-user"></i>
							<input type="text" placeholder="Unit Kerja" name="satker" class="personal" disabled>
							<b class="tooltip tooltip-bottom-right">Unit kerja pihak yang terkait dengan laporan anda</b>
						</label>

						<label class="input margin-bottom-30">
							<i class="ico-append fa fa-user"></i>
							<input type="text" name="lokasi" placeholder="Lokasi Kasus/Kejadian" class="personal" disabled>
							<b class="tooltip tooltip-bottom-right">Lokasi terjadinya kasus/kejadian</b>
						</label>
						<hr>
						{*}<label class="select margin-bottom-10">
							<input class="custom-file-upload" name="myfile" type="file" id="file" name="contact[attachment]" id="contact:attachment" data-btn-text="Upload data pendukung" />
							<small class="text-muted block">Max file size: 5Mb (pdf/png/jpg/doc/docx/xls/xlsx/odt/odf/txt)</small>

						</label>{/*}

						<div id="fileuploader">Upload</div>
						<div id="eventsmessage"></div>
					

						<div class="margin-top-10">
							<div class="g-recaptcha" data-sitekey="6Le_OA0TAAAAACLAF3nvgBJYFbJACQXwhMt1wr0s"></div>
							{*}secret key | Tolong hapus klo sudah : 6Le_OA0TAAAAAEjdg4YdX12AIdesAu_vr3g8Xsco{/*}
						</div>
						
						<div class="margin-top-30">
							<label class="checkbox nomargin"><input class="checked-agree" type="checkbox" name="termagree" onclick="return submitForm()"><i></i>Dengan ini saya selaku pelapor membenarkan informasi yang saya kirimkan valid tanpa tekanan dari pihak manapun dan saya bertanggung jawab atas informasi yang saya kirimkan ini.</label>
						</div>
					</fieldset>

					<div class="row margin-bottom-20">
						<div class="col-md-12">
							<button type="submit" class="btn btn-primary" id="buttonsubmit" disabled><i class="fa fa-check"></i> Lapor</button>
						</div>
					</div>

				</form>
			</div>

			<div class="col-md-4 col-sm-4">
                <form action="{$basedomain}home/search" method="post" class="sky-form boxed">
                    <header><i class="fa fa-search"></i> Tracking ID Laporan Anda</header>
                    
                    <fieldset class="nomargin"> 
                        <p>Temukan status terakhir laporan anda dengan memasukkan 6 digit ID Laporan atau masukkan alamat email anda.</p>
                        <label class="input">
                            <i class="ico-append fa fa-envelope"></i>
                            <input type="text" name="tracking" required>
                            <span class="tooltip tooltip-top-right">Email atau ID laporan</span>
                        </label>

                    </fieldset>

                    <footer class="celarfix">
                        <button type="submit" class="btn btn-primary noradius pull-right"><i class="fa fa-check"></i> Lacak</button>
                        <input type="hidden" name="token" value="1"/>
                        <div class="login-forgot-password pull-left">
                            
                        </div>
                    </footer>
                </form>

                <form action="{$basedomain}" method="post" class="sky-form boxed">
                    <header><i class="fa fa-tags"></i> Daftar Pengaduan Anda</header>
                    
                    <fieldset class="nomargin">
                    	
                    	{foreach $dataPengaduan as $val}
                    	<div class="row tab-post">
	                        <div class="col-md-12 col-sm-9 col-xs-9">
								<a href="{$basedomain}pengaduan/detail/?id={$val.idPengaduan}" class="tab-post-link"><strong>{$val.judul}</strong></a>
								<small>{$val.tanggalformat}</small>
								<small>ID Laporan : {$val.idLaporan}</small>
								<small>Status Laporan : {if $val.status eq '4'}Selesai
														{else}Dalam Proses{/if}</small>
							</div>
						</div>
						{/foreach}


						

                    </fieldset>

                </form>
			</div>

		</div>
	</div>
</section>

{literal}
<script type="text/javascript">
	function submitForm()
	{
		var atLeastOneIsChecked = $('input[name="termagree"]:checked').length > 0;
		
		if(atLeastOneIsChecked){
			$("#buttonsubmit").removeAttr('disabled');
			
		} else {
			$("#buttonsubmit").attr('disabled','disabled');
			
		}
	}

	function personal()
	{
		var atLeastOneIsChecked = $('input[name="perorangan"]:checked').length > 0;
		
		if(atLeastOneIsChecked){
			$(".personal").removeAttr('disabled');
			
		} else {
			$(".personal").val('');
			$(".personal").attr('disabled','disabled');
			
		}
	}

	$(document).ready(function()
	{
		$("#fileuploader").uploadFile({url: basedomain+"pengaduan/uploadAjax",
			dragDrop: true,
			fileName: "myfile",
			returnType: "json",
			showDelete: true,
			showDownload:true,
			statusBarWidth:600,
			dragdropWidth:600,
			deleteCallback: function (data, pd) {
			    
			        $.post(basedomain+"pengaduan/deleteAjax", {op: "delete",name: data[0]},
			            function (resp,textStatus, jqXHR) {
			                //Show Message	
			                alert("File di hapus");
			            });
			    var name = data[0].replace(/['"]+/g, '');
			    var fin = name.split(".");
				document.getElementById(fin[0]).remove();

			    pd.statusbar.hide(); //You choice.

			},
			downloadCallback:function(filename,pd)
			{
				window.open(basedomain+"public_assets/tmp/"+filename[0]);
			},
			onSuccess:function(files,data,xhr,pd)
			{
				var name = data[0].replace(/['"]+/g, '');
				var fin = name.split(".");
				var real = data[1].replace(/['"]+/g, '');
				
				$("#eventsmessage").append(
				    $('<input>', {
				        type: 'hidden',
				        id: fin[0],
				        name: name,
				        value: "fileUploadKey|"+name+"|"+real+"|"+data[2]
				    })
				);
				
				
			}

			}); 
	});

</script>
{/literal}